/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.slide-container{
  /* max-width: 1120px; */
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
  border: 0.2rem solid #ffd00f;
  /* padding: 0 2rem; */
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}


.card-image{
  position: relative;
  height: 31.2rem;
  width: auto;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.price{
    padding: 1.55rem 2rem 2rem 2rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: #a1710f;
}
.description{
  font-size: 1.8rem;
  color: #000;
  text-align: center;
}
.button{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  border: none;
  /* font-size: 16px; */
  color: #FFF;
  /* padding: 8px 16px; */
  background-color: #ffd00f;
  border-radius: 50%;
  /* margin: 14px; */
  cursor: pointer;
  transition: all 0.3s ease;
  width: 3rem;
    height: 3rem;
}
.button:hover{
  background: #265DF2;
}
.add-cart{
    width: 1rem;
    height: 1rem;
}
.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}