html,
body {
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "SVN-Gliroy", sans-serif;
  line-height: 1em;
  color: #000;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "SVN-Gliroy", sans-serif;
  // font-size: 1.6rem;
  line-height: 2em;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

.btn {
  font-size: 1.6rem;
  font-weight: 600;
  max-width: 48.4rem;
  max-height: 8.4rem;
  background-color: #FFD00F;
}

.active {
  background-color: #FFD00F;
  display: inline-block;
  color: #000 !important;
}

.tab-category.active,
.tab-item.active {
  opacity: 1;
}

.tab-product,
.tab-pane {
  display: none;
}

.tab-product.active,
.tab-pane.active {
  display: block;
  background-color: transparent;
}

.active-white {
  background-color: #fff !important;
}

.active-white a {
  color: #A1710F !important;
}

.border-1 {
  border-top: 1px solid #FFD00F;
}

.cl-black {
  color: #000 !important;
}

.pd-top12 {
  padding-top: 13.5rem;
}

.contact-title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  margin: 0 0 0.5rem 0;
}

.fz16 {
  font-size: 1.6rem;
}

.container-width {
  max-width: 1200px;
  margin: 0 auto;
}

.width-80 {
  width: 80%;
}

.wdth-hegh {
  width: 70%;
  height: 15rem !important;
}

.mr-one {
  margin: 3rem 0 0 2rem;
}

.mr-top {
  margin-top: 3rem;
}

.mr-top8 {
  margin-top: 8rem;
}

.mr-bottom5 {
  margin-bottom: 5rem;
}

.mr-top0 {
  margin-top: 0 !important;
}

.pd-2 {
  padding: 2rem;
}
.show {
  display: block !important;
}
.hide {
  display: none!important;
}
.border-1 {
  border: 1px solid #FFD00F;
}
.title {
  font-weight: 600;
  font-size: 2rem;
}
.wh-100{
  width: 100%;
  height: 100%;
}
.w-100 {
  width: 100%;
}
.content-container{
  background-color: #fff;
  margin: 18rem 0 29rem 0;
}
.tips-beautify--category__list--item .active,
.beautify--program__category--list-item .active{
  font-weight: bold;

}
.header-main-nav__list .active{
    border-radius: 1.6rem;
    padding: 0.5rem 2.2rem;
    font-weight: 600;
    background-color: #ffd00f;
    color: $black;
}
.show {
  display: block !important;
}
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  // background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;

}
.open {
  transform: scaleY(1);
  transition: 1s;
}
@keyframes showModal {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes drop-down {
  from {
      opacity: 0;
      left: -200px;
  }
  to {
    left: 0;
      opacity: 1;
  }
}