.content-beautify-detail {
    background-color: $background-content;
    padding-bottom: 8rem;
}


.tips-beautify {


    &--detail {
        background-color: $white;

        &__heading {
            text-transform: uppercase;
            color: $color-title;
            font-family: K2D-ExtraBold;
            line-height: 1.1;
        }

        .tips-beautify--detailing {
            margin-top: 4.75rem;

            &__item {
                padding-bottom: 4rem;

                &--text {
                    padding-left: 0.35rem;
                    padding-bottom: 2.8rem;

                    &--title {
                        color: $color-title;
                        font-size: 2.4rem;
                        font-family: K2D-Bold;
                        padding-bottom: 2.2rem;
                    }

                    &--desc {
                        font-size: 1.6rem;
                        font-family: K2D-ExtraLight;
                        padding-bottom: 2.4rem;
                        text-align: justify;
                    }

                    &--description {
                        font-size: 1.6rem;
                        font-family: K2D-ExtraLight;
                    }


                }

                &--images {
                    width: 100%;

                    // height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    &--category {
        &__list {
            background-color: $white;
            padding: 2.55rem 0;
            margin-bottom: 1rem;

            &--item {
                text-align: center;


                &--link {
                    color: #808080;
                    text-transform: uppercase;
                    font-family: Gilroy-XBold;
                    border-radius: 1rem;
                }
            }

            &--item:nth-child(2),
            &--item:nth-child(3),
            &--item:nth-child(4) {
                a {
                    font-family: Gilroy-Regular;
                }
            }
        }

        .detail-news {
            background-color: $white;
            border-radius: 2rem;
            margin-bottom: 1.5rem;
            padding: 2.75rem 0;

            &--title {
                font-size: 1.6rem;
                text-transform: uppercase;
                font-family: Gilroy-XBold;
                text-align: center;
                color: $color-title;
                padding-bottom: 1.8rem;
            }

            &--menu {
                padding: 0 1rem;
                
                &__list {
                    margin-bottom: 2.35rem;
                    
                    &--item {
                        position: relative;
                        .detail-news-boder {
                            display: flex;
                            margin-top: 4rem;
                        }
                        .detail-news-boder::after {
                            content: "";
                            position: absolute;
                            bottom: -1.6rem;
                            width: 100%;
                            border: 0.1rem solid $more-color;

                        }
                        
                        &--images {
                            padding: 0;
                            height: 6.8rem;
                            width: 10.7rem;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        &--desc {
                            text-transform: uppercase;
                            font-size: 1.1rem;
                            font-family: Gilroy-Bold;
                            padding-right: 0;
                            padding-left: 1rem;
                        }
                    }

                    &--item:first-child {
                        .detail-news-boder {
                            margin-top: 0;
                        }
                    }

                    &--item:last-child {
                        .detail-news-boder::after {
                            border: none;
                        }
                    }

                }
            }
        }
        .detail-new-tablet {
            display: none;
        }
    }
}


.tips-new {


    &-item {
        &__heading {

            &--title {
                text-align: center;
                text-transform: uppercase;
                color: $color-title;
                font-family: Gilroy-XBold;
            }
        }

        &__body {
            &--list {

                &--item {

                    &-images {
                        position: relative;
                        margin-bottom: 3rem;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .image-pseudo::after {
                        content: " ";
                        display: block;
                        position: absolute;
                        border-right: 2px solid #000000;
                        height: 16.5rem;
                        right: -4rem;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &-title {
                        font-size: 1.6rem;
                        font-family: Gilroy-Heavy;
                        text-transform: uppercase;
                    }

                    &-desc {
                        font-size: 1.6rem;
                        font-family: Gilroy-Medium;
                        text-align: justify;
                    }

                }
            }
        }
    }
}