.contact-address{
    margin-bottom: 24.5rem;
    &-item{
        &__maps{
            width: 52.8rem;
            height: 60.8rem;
            &--link{
                width: 100%;
                height: 100%;
            }
        }
        &__form{
            &-contact{
                &--address{
                    &--title{
                        font-family: Gilroy-Bold;
                        line-height: 1.2;
                        padding-bottom: 1.6rem;
                        font-size: 2rem;

                    }
                    &--text{
                        font-size: 1.6rem;
                        padding: 0.3rem 0;
                    }
                }
                &--group{
                    text-align: center;
                    &--title{
                        text-transform: uppercase;
                        font-size: 2.4rem;
                        font-family: Gilroy-Bold;
                        padding: 3.4rem 0 2.4rem 0;
                    }
                    &--info{
                        margin-bottom: 0.8rem;
                        position: relative;
                        &__control{
                            width: 100%;
                            height: 5rem;
                            @include formContact();
                        }
                        &__textarea{
                            @include formContact();
                            height: 13.8rem;
                            width: 100%;
                            padding: 2rem;
                        }
                        &__button{
                            @include buttonStyle();
                            position: relative;
                            border-radius: 2rem;
                            padding: 1rem 3rem;
                            text-transform: uppercase;
                            color: $black;
                            margin-top: 1.8rem;
                           
                        }
                        &__button::after{
                            @include buttonAfter();
                        }
                    }
                }
            }
        }
    }
}