.bg-color{
    // background-color: #fef7de;
}
.header-main-nav__list {
    margin-bottom: 0;
}
.landing-acne,
.landing-outside {
    position: relative;
    height: 100%;
    top: -98%;
}
.content-landing {
    &-acne {
        height: 112rem;
        > img {
            width: 100%;
            height: 100%;
        }
        &__left {
            position: absolute;
            top: 0;
            z-index: 2;
            width: 65rem;

            > img {
                width: 157%;
                margin-left: 6%;
                margin-top: -15%;
            }

            &--heading {
                position: absolute;
                top: 35rem;
                left: 50%;
                transform: translateX(-50%);
                width: 75%;

                &-above,
                &-below {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &-above {
                    margin-left: 1.2rem;
                    position: absolute;
                    top: -14.5rem;
                    width: 83%;
                }
            }
            &--text {
                position: absolute;
                top: 45rem;
                display: flex;
                width: 100%;
                left: 50%;
                transform: translateX(-50%);
                margin-left: 4rem;

                &-left,
                &-between,
                &-right {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &-left {
                    width: 26%;
                    height: 15rem;
                }
                &-between {
                    width: 33%;
                    margin-left: 0.5rem;
                }
                &-right {
                    width: 26%;
                    height: 15rem;
                    position: absolute;
                    top: -2rem;
                    right: 6rem;
                }
            }
        }

        &__right {
            position: absolute;
            top: 15rem;
            right: -12rem;
            z-index: 1;
            width: 65rem;

            &--image1,
            &--image2,
            &--image3,
            &--image4 {
                width: 39%;
                height: 59%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &--image1 {
                margin-bottom: 1rem;
            }

            &--image2 {
                position: absolute;
                top: -2rem;
                right: 12rem;
                height: 49%;
            }

            &--image4 {
                position: absolute;
                bottom: 2.5rem;
                right: 12rem;
                height: 47%;
            }

        }

        &__btn{
            position: relative;
            top: 67%;
            left: 51%;
            transform: translateX(-46%);
            color: #000;
            background-color: #ffd00f;
            font-size: 2.4rem;
            font-family: Gilroy-Bold;
            text-transform: uppercase;
            border: none;
            outline: none;
            border-radius: 8rem;
            padding: 1rem 2.2rem;
        }
        &__btn::after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            right: 0;
            width: 98%;
            height: 90%;
            border: 0.2rem dotted #fff;
            border-bottom-left-radius: 8rem;
            border-bottom-right-radius: 8rem;
            border-top-left-radius: 8rem;
            border-top-right-radius: 8rem;
        }
    }

    &-outside {
        position: relative;
        height: 178rem;
        > img {
            width: 100%;
            height: 100%;
        }

        &__human {
            position: absolute;
            top: 0;
            &--top {
                &-image1,
                &-image2,
                &-image3,
                &-image4 {
                    position: absolute;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &-image1 {
                    width: 32%;
                    left: 28%;
                    top: 15%;
                    transform: translateX(-50%);
                }

                &-image2 {
                    width: 35%;
                    left: 45%;
                }

                &-image3 {
                    width: 32%;
                    right: 3%;
                    top: 5%;
                    transform: translateX(50%);
                }

                &-image4 {
                    width: 44%;
                    left: 47.5%;
                    top: 9rem;
                }

            }

            &--logo {
                position: relative;
                width: 20%;
                left: 55%;
                margin-top: 60%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &--text {
                position: relative;
                width: 60%;
                left: 34%;
                &-image1,
                &-image2 {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &-image2 {
                position: absolute;
                top: 6rem;
                left: 4rem;
                width: 85%;
                }
            }
        }

        &__course {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 40rem;

            &--heading {
                text-transform: uppercase;
                font-size: 3rem;
                font-family: Gilroy-Bold;
                text-align: center;
                color: #bd7d00;
                margin-bottom: 5rem;
            }

            &--left {
                margin-right: -10rem;
                &-above {
                    position: relative;
                    width: 70%;
                    margin-bottom: 3rem;
                    > img {
                        width: 100%;
                        height: 100%;
                    }
                    .course-left-above__text {
                        position: absolute;
                        top: 3rem;
                        left: 2rem;
                        width: 90%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &-below {
                    position: relative;
                    width: 70%;
                    > img {
                        width: 100%;
                        height: 100%;
                    }
                    .course-left-below__text {
                        position: absolute;
                        top: 0.8rem;
                        left: 7.5rem;
                        width: 66%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            &--right {
                margin: auto 10rem auto 0;
                &-item {
                    color: #bd7d00;
                    text-transform: uppercase;
                    background-color: #fff;
                    margin: 2rem 0;
                    border: 1px solid #bd7d00;
                    font-size: 2.6rem;
                    font-family: Gilroy-Bold;
                    padding: 0.5rem 1.5rem;
                    text-align: center;
                    border-radius: 1.6rem;
                }
            }
        }
    }

    &-device {
        height: 64.2rem;
            
        &-left {
            width: 100%;
            height: 100%;

            &__list {
                position: relative;
                width: 100%;
                height: 101%;

                &--item {
                    position: absolute;
                    top: 4rem;

                    img {
                        height: 37.6rem;
                    }
                }

                &--item1 {
                    position: absolute;
                    top: 0rem;
                    left: 16.5rem;

                    img {
                        height: 25.8rem
                    }
                }

                &--item2 {
                    position: absolute;
                    top: 28.9rem;
                    left: 4rem;
                    width: 21.6rem;
                    height: 24.8rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &--item3 {
                    position: absolute;
                    top: 14.2rem;
                    left: 26.8rem;

                    img {
                        width: 23.1rem;
                        height: 40.3rem;
                    }
                }
            }
        }

        &-right {
            text-align: right;
            margin-bottom: 15rem;
            img {
                width: 100%;
            }
        }
    }

    &-endow {
        img {
            width: 100%;
        }
    }

    &-procedure { 
        position: relative;
        height: 112rem;
        top: -12rem;
        z-index: -1;
        .landing-procedure {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 20rem;
        }
        > img { 
            width: 100%;
            height: 100%;
        }
        &__heading {
            text-align: center;
            font-size: 4.4rem;
            font-family: Gilroy-Bold;
            text-transform: uppercase;
            color: #bd7d00;
            margin-bottom: 7rem;
        }
        &__outside {
            &--image {
                width: 37.8rem;
                height: 40.5rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &--title {
                display: flex;
                align-items: center;
                img {
                    position: relative;
                }
                &-number {
                    position: absolute;
                    top: 44.5rem;
                    left: 3rem;
                    font-family: iCielPanton-Black;
                    font-size: 6rem;
                    color: #a0710e;
                }
                &-text {
                    color: #bd7d00;
                    font-family: Gilroy-Heavy;
                    font-size: 3rem;
                }
            }
        }
    }
}