.bg-color{
    background-color: #fef7de;
}
.header-main-nav__list {
    margin-bottom: 0;
}
.content-landing {
    &-acne {
        position: relative;
        &__left {
            position: absolute;
            top: 0;
            z-index: 1;
            &--heading {
                position: absolute;
                top: 0;
                &-above {

                }

                &-below {

                }
            }
            &--text {
                position: absolute;
                top: 0;
            }
        }

        &__right {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            display: flex;
            flex-wrap: wrap;
            width: 68rem;
        }
    }
}