$res_mobile : "only screen and (max-width: 480px)";
$res_tablet : "only screen and (max-width: 768px)";
$res_pclow : "only screen and (min-width: 991px)";

@mixin responsive_mobile() {
  @media #{$res_mobile} {
    @content;
  }
}

@mixin responsive_tablet() {
  @media #{$res_tablet} {
    @content;
  }
}

@mixin responsive_pclow() {
  @media #{$res_pclow} {
    @content;
  }
}


  @font-face {
    font-family: K2D-Bold;
    src: url('../fonts/K2D-Bold.ttf');
  }

  @font-face {
    font-family: K2D-ExtraBold;
    src: url('../fonts/K2D-ExtraBold.ttf');
  }

  @font-face {
    font-family: K2D-ExtraLight;
    src: url('../fonts/K2D-ExtraLight.ttf');
  }

  @font-face {
    font-family: Gilroy-Bold;
    src: url('../fonts/SVN-Gilroy\ Bold.otf');
  }

  @font-face {
    font-family: Gilroy-XBold;
    src: url('../fonts/SVN-Gilroy\ XBold.otf');
  }

  @font-face {
    font-family: Gilroy-Heavy;
    src: url('../fonts/SVN-Gilroy\ Heavy.otf');
  }

  @font-face {
    font-family: Gilroy-Bold-Italic;
    src: url('../fonts/SVN-Gilroy\ Bold\ Italic.otf');
  }

  @font-face {
    font-family: Gilroy-Regular;
    src: url('../fonts/SVN-Gilroy\ Regular.otf');
  }

  @font-face {
    font-family: Gilroy-SemiBold;
    src: url('../fonts/SVN-Gilroy\ SemiBold.otf');
  }

  @font-face {
    font-family: Gilroy-Medium;
    src: url('../fonts/SVN-Gilroy\ Medium.otf');
  }

  @font-face {
    font-family: Gilroy-Medium-Italic;
    src: url('../fonts/SVN-Gilroy\ Medium\ Italic.otf');
  }

  @font-face {
    font-family: Gilroy-Light;
    src: url('../fonts/SVN-Gilroy\ Light.otf');
  }

  @font-face {
    font-family: Gilroy-Black;
    src: url('../fonts/SVN-Gilroy\ Black.otf');
  }

  @font-face {
    font-family: UTM-Avo;
    src: url('../fonts/utm-avo/UTM\ Avo.ttf');
  }

  @font-face {
    font-family: UTM-AvoBold;
    src: url('../fonts/utm-avo/UTM\ AvoBold.ttf');
  }

  @font-face {
    font-family: UTM-AvoItalic;
    src: url('../fonts/utm-avo/UTM\ AvoItalic.ttf');
  }

@mixin buttonStyle {
  font-size: 1.6rem;
  padding: 1.5rem 5.2rem;
  border: none;
  outline: none;
  color: #a1710f;
  background-color: #ffd00f;
  border-radius: 8rem;
  font-family: Gilroy-Bold;
  text-transform: uppercase;

}

@mixin backgroundImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

@mixin logoColumn {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 5rem;
}

@mixin buttonAfter {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 0;
  width: 98%;
  height: 90%;
  border: 0.2rem dashed #fff;
  border-bottom-left-radius: 8rem;
  border-bottom-right-radius: 8rem;
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
}

@mixin formContact {
  background-color: $background-form;
  outline: none;
  border-radius: 1rem;
  border: 0.2rem solid $orange;
  font-size: 2rem;
  padding: 0 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
@mixin property {
  width: 100%;
  border: 1px solid #c6c6c6;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  margin-top: 2rem;
}