.main-recruit {
    .m-b27 {
        margin-bottom: 2.7rem;
    }
    .m-b25 {
        margin-bottom: 2.5rem;
    }
    background-color: $background-content;
    padding-top: 12.6rem;
    // padding-bottom: 28.2rem;
    margin-top: 5.6rem;
    &-content {
        width: 1000px;
        margin: 0 auto;
        padding: 4.9rem 9.4rem 8.8rem 6.3rem;
        background-color:$white;
        &__heading {
            font-size: 2.2rem;
            font-weight: 600;
            color: $more-color;
            margin-bottom: 1.8rem;
            margin-right: 33rem;
            text-transform: uppercase;
        }
        &__text {
            line-height: 1.3em;
            margin: 0;
        }
        &__image {
            width: 48.7rem;
            height: 48.8rem;
            position: relative;
            margin: 2.7rem auto 2.7rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__list{
            display: none;
        }
        &__skin {
            padding-left: 1.3rem;
            border-radius: 1.2rem;
            &--title{
                font-size: 2rem;
                color: $more-color;
                font-weight: 600;
                margin-top: 1.7rem;
                margin-bottom: 1.2rem;
            }
            span {
                display: block;
                margin-bottom: 3rem;
                color: $color-text;
            }
            &--list {
                line-height: 1.3em;
                &-item {

                }
            }
            &--btn {
                border: none;
                outline: none;
                display: block;
                position: relative;
                margin: 1.2rem auto 1.4rem;
                color: $more-color;
                background-image: linear-gradient(#f3e59c,#ffd113);
                border-radius: 1.6rem;
                padding: 0.5rem 1rem;
                font-size: 1.8rem;
            }
            &--btn:hover { 
                color: $more-color;
            }
        }
        &__skin + &__skin {
            margin-top: 3.8rem;
        }
        .recruit-pagination {
            margin-top: 6rem;
            &-list{
                list-style: none;
                justify-content:center;
                align-items: center;
                margin: 0;
                &__item {
                    background-color: $orange;
                    border: 0.1rem solid $orange;
                    border-radius: 1.2rem;
                    margin-right: 0.6rem;
                    padding: 1.8rem 2.3rem;
                    font-size: 2.8rem;
                    margin-top: 0.4rem;
                    color: $white;
                }
                &__item.active { 
                    background-color: $white;
                    color: $more-color;
                }
            }
            &-next {
                border: none;
                padding: 0;
                outline: none;
                margin-left: 1rem;
                img {
                    width: 1.8rem;
                    height:1.7rem;
                }
            }
        }
    }
}