@include responsive_mobile{
    .footer {
        .dp-none {
            display: none !important;
        }
        .dp-block {
            display: block !important;
        }
        &-top {    
            padding-bottom: 4.5rem;
            .footer-after::after { 
                height: 4rem;
                width: 26rem;
                margin-left: 50%;
                transform: translateX(-50%);
                top: -3.9rem;
                left: 0;
                background-image: linear-gradient(90deg, #fbd844,#f9d950);
            }
            &-interactive {
                .interactive-logo { 
                    margin-left: 50%;
                    transform: translateX(-50%);
                    width: 20.4rem;
                    height: 8.8rem;
                    top: -16rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .interactive-caption {    
                    top: -6.4rem;
                    width: 22.8rem;
                    margin-left: 50%;
                    transform: translateX(-50%);
                    font-size: 1.4rem;
                    padding: 0;
                }
                .interactive-image {
                    display: block !important;
                    padding-top: 1rem;
                    .footer-top-interactive__share {
                        &--top { 
                            top: 2rem;
                            align-items: center;
                            h5 { 
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
            &-contact {
                padding-top: 1rem;
            }
            &-menu{
                padding-top: 0.5rem;
            }
        }
        &-bottom{
            display: none;
            &-mobile {
                position: relative;
                display: block;
                height: 8.9rem;
                width: 100%;
                &__image {
                    position: absolute;
                    top: -4.7rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &__branch,
                &__booking,
                &__tel,
                &__app{
                    margin-top: 1.7rem;
                    &--image{
                        position: relative;
                        margin: 0 auto 0.5rem;
                        width: 3.3rem;
                        height: 3rem; 
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .footer-bottom-mobile__text {
                        font-size: 1.4rem;
                    }
                }
                &__advise{
                    position: absolute;
                    top: -2.4rem;
                    left: 0.5rem;
                    right: 0;
                    &--image{
                        width: 5.3rem;
                        height: 6.1rem; 
                        position: relative;
                        margin: 0 auto;
                        z-index: 1;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .footer-bottom-mobile__text {
                        font-size: 1.4rem;
                        display: block;
                        margin-top: 1.6rem;
                    }
                }
            }
        }
    }
}

@include responsive_tablet {
    .footer {
        .dp-noneTL {
            display: none;
        }
        .dp-blockTL {
            display: block;
        }
        .contact-title {
            font-size: 1.6rem;
        }
        .fz16 {
            font-size: 1.4rem;
        }
        &-top {    
            padding-bottom: 4.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            .footer-after::after { 
                height: 4rem;
                width: 25rem;
                top: -3.9rem;
                left: 0;
                background-image: linear-gradient(90deg, #f4df81,#f9d950);
            }

            &-interactive {
                .interactive-logo { 
                    margin-left: 50%;
                    transform: translateX(-50%);
                    width: 20.4rem;
                    height: 8.8rem;
                    top: -16rem;
                    img {
                        width: 100%;
                    }
                }

                .interactive-caption {    
                    top: -6.6rem;
                    width: 19.8rem;
                    font-size: 1.2rem;
                    padding: 0;
                }

                .interactive-image {
                    display: block !important;
                    padding-top: 1rem;
                    position: relative;
                    top: 0;
                    left: -1rem;
                    height: 14rem;
                    width: 23rem;

                    > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .footer-top-interactive__share {
                        &--top { 
                            top: 2rem;
                            left: 1.5rem;
                            width: 15.4rem;
                            height: 3.2rem;

                            &-image {
                                width: 30%;
                                height: 100%;
                            }

                            h5 { 
                                font-size: 1.2rem;
                                width: 100%;
                                margin-left: 1rem;
                            }
                        }
                        &--bottom {
                            left: 1rem;
                            width: 21rem;

                            &-left {
                                padding: 0.6rem 0.6rem 0.6rem 0.6rem;

                                a {
                                    align-items: center;
                                    h5 {
                                        margin-top: 0;
                                    }
                                }
                            }
                            &-right {
                                a {
                                    align-items: center;

                                    h5 {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &-contact {
                padding-top: 3rem;

                &__tel {
                    a {
                        font-size: 1.4rem;
                    }
                }

                &__info {
                    &-list {
                        &--item {
                            a {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }

                &__time {
                    > h3 {
                        margin: 0.8rem 0 0.5rem 0;
                    }
                }

                &__app {
                    &--googleplay,
                    &--appstore {
                        width: 50%;
                    }
                }
            }

            &-menu{
                padding-top: 3rem;

                &__list {
                    &--link {
                        font-size: 1.4rem;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }

        &-bottom {
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            .footer-title {
                padding-right: 36%;
                padding-bottom: 1.5rem;    
                font-size: 1.6rem;
            }

            .footer-contact {
                &-list {
                    &__item {
                        &--link {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@include responsive_pclow {
    .footer {
        .dp-noneTL {
            display: none;
        }
        .dp-blockTL {
            display: block;
        }
        .contact-title {
            font-size: 1.8rem;
        }
        .fz16 {
            font-size: 1.6rem;
        }
        &-top {    
            padding-bottom: 4.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            .footer-after::after { 
                height: 5rem;
                width: 31rem;
                top: -3.9rem;
                left: 1rem;
            }

            &-interactive {
                .interactive-logo {  
                    top: -16rem;
                    left: -1rem;
                    width: 30.4rem;
                    height: 10.8rem;
                }

                .interactive-caption { 
                    top: -4.2rem;
                    left: 2.5rem;
                    width: 22.8rem;
                    font-size: 1.4rem;
                    padding: 0;
                }

                .interactive-image {
                    display: block !important;
                    padding-top: 1rem;
                    position: relative;
                    top: 3rem;
                    height: 14rem;

                    > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .footer-top-interactive__share {
                        &--top { 
                            top: 2rem;
                            left: 1.5rem;
                            width: 15.4rem;
                            height: 3.2rem;
                            align-items: center;

                            &-image {
                                width: 30%;
                                height: 100%;
                            }

                            h5 { 
                                font-size: 1.2rem;
                                width: 100%;
                                margin-left: 1rem;
                            }
                        }
                        &--bottom {
                            left: 1rem;
                            width: 26.5rem;
                            &-left {
                                padding: 0.6rem 0.6rem 0.6rem 0.6rem;

                                a {
                                    align-items: center;
                                    h5 {
                                        margin-top: 0;
                                    }
                                }
                            }
                            &-right {
                                a {
                                    align-items: center;

                                    h5 {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &-contact {
                padding-top: 3rem;

                &__tel {
                    a {
                        font-size: 1.6rem;
                    }
                }

                &__info {
                    &-list {
                        &--item {
                            a {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }

                &__time {
                    > h3 {
                        margin: 0.8rem 0 0.5rem 0;
                    }
                }

                &__app {
                    &--googleplay,
                    &--appstore {
                        width: 50%;
                    }
                }
            }

            &-menu{
                padding-top: 3rem;

                &__list {
                    &--link {
                        font-size: 1.6rem;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }

        &-bottom {
            padding-left: 3.5rem;
            padding-right: 1.5rem;

            .footer-title {
                padding-right: 36%;
                padding-bottom: 1.5rem;    
                font-size: 1.8rem;
            }

            .footer-contact {
                &-list {
                    &__item {
                        &--link {
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}