@include responsive_mobile { 
    .landing-acne {
        top: -110%;
        z-index: 0;
    }
    .pd-12 {
        padding: 0 1.2rem;
    }
    .pd-10 {
        padding: 0 1rem;
    }
    
    .wth-16 {
        max-width: 16rem !important;
    }
    .wth-14 {
        max-width: 14rem !important;
    }
    .left-22 {
        left: 2.2rem;
    }
    .header-contact-left .navbar-mobile { 
        z-index: 1;
    }
    .content-landing {
        height: 725rem !important;
        &-acne {
            height: 118rem;
            &__left {
                width: 100%;
    
                > img {
                    margin-left: -27%;
                    margin-top: 10%;
                }
    
                &--heading {
                    &-above {
                        top: -12rem;
                    }
                }
                &--text {
                    top: 43rem;
                    left: 0;
                    transform: translateX(0);
                    margin-left: 1.2rem;

                    &-left {
                        width: 28%;
                        height: 12rem;
                    }
                    &-between {
                        width: 36%;
                        margin-left: 0.5rem;
                    }
                    &-right {
                        width: 28%;
                        height: 13rem;
                        right: 2.5rem;
                    }
                }
            }
    
            &__right {
                top: 68rem;
                right: -3.2rem;
                width: 100%;
    
                &--image1,
                &--image2,
                &--image3,
                &--image4 {
                    width: 42%;
                }
    
                &--image2 {
                    height: 48%;
                    top: 0;
                    right: 6rem;
                }
    
                &--image4 {
                    height: 48%;
                    right: 6rem;
                    bottom: 0.4rem;
                }
    
            }
    
            &__btn{
                top: 99%;
                font-size: 2rem;
            }
        }
    
        &-outside {
            height: 126rem;
    
            &__human {
                top: 6rem;
                &--top {
                    &-image1,
                    &-image2,
                    &-image3,
                    &-image4 {
                        position: absolute;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
    
                    &-image1 {
                        width: 28%;
                        left: 4%;
                        transform: translateX(0);
                    }
    
                    &-image2 {
                        width: 33%;
                        left: 33.5%;
                    }
    
                    &-image3 {
                        width: 28%;
                        right: 18%;
                        top: 5%;
                        transform: translateX(50%);
                    }
    
                    &-image4 {
                        width: 45%;
                        left: 33.5%;
                        top: 5rem;
                    }
    
                }
    
                &--logo {
                    left: 42%;
                    margin-top: 62.5%;
                }
    
                &--text {
                    left: 16%;
                    width: 70%;
                }
            }
    
            &__course {
                bottom: 18rem;
    
                &--heading {
                    font-size: 2.5rem;
                    margin-bottom: 5rem;
                }
    
                &--left {
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    margin-right: 0;
                    &-above {
                        width: 43%;
                        margin-bottom: 0;

                        .course-left-above__text {
                            top: 2.2rem;
                            left: 1.5rem;
                            width: 84%;
                        }
                    }
    
                    &-below {
                        width: 43%;
                        .course-left-below__text {
                            height: 100%;
                            top: 0;
                            left: 0;
                        }
                    }
                }
    
                &--right {
                    margin-right: 0;
                    margin-top: 1.5rem;
                    &-item {
                        font-size: 2rem;
                    }
                }
            }
        }
    
        &-device {
            height: 85rem;
                
            .pc-device {
                display:none;
            }
            .pc-mobile {
                display: block;
                height: 100%;
                .content-landing-device-left {
                    height: 100%;
                    &__list {
                        position: relative;
                        top: 15rem;
                        width: 100%;
                        height: 100%;
                        &--item {
                            position: absolute;
                            top: -3.4rem;
                            left: 2rem;
                            height: 36rem;
                            img {
                                height: 100%;
                            }
                        }

                        &--item1{
                            position: absolute;
                            top: -8rem;
                            left: 18rem;
                            height: 24.8rem;
                            img{
                                height: 100%;
                            }
                        }

                        &--item2{
                            position: absolute;
                            top: 22.9rem;
                            left: 4rem;
                            width: 22.6rem;
                            height: 19.8rem;
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 3rem;
                                object-fit: cover;
                            }
                        }

                        &--item3{
                            position: absolute;
                            top: 5.2rem;
                            left: 26.8rem;
                            width: 20rem;
                            height: 36.3rem;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
        
                .content-landing-device-right {
                    width: 40rem;
                    margin: 0 auto;
                    img {
                        width: 100%;
                    }
                }
            } 
        }
    
        &-procedure { 
            height: 28%;
            top: -32rem;
            .landing-procedure {
                height: 100%;
                width: 100%;
                top: 42rem;
            }
            &__heading {
                font-size: 3.2rem;
                margin-bottom: 7rem;
            }
            &__outside {
                &--image {
                    width: 100%;
                    height: 100%;
                }
                &--title {
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                    &-image {
                        width: 22% !important;
                    }
                    &-number {
                        top: 27rem;
                        left: 1.8rem;
                        font-size: 5rem;
                    }
                    &-text {
                        font-size: 1.8rem;
                        margin-left: 0.5rem;
                        max-width: 11rem;
                    }
                }
            }
            &__bottom {
                margin-top: 8rem;
                &--heading {
                    &-image {
                        width: 75%;
                    }
                }
                &--image {
                    &-one,
                    &-two,
                    &-three {
                        width: 28%;
                    }
                    &-one {
                        top: 11rem;
                        left: 3rem;
                    }
                    &-two{
                        left: 50%;
                        transform: translateX(-50%);
                        top: 8rem;
                    }
                    &-three {
                        right: 2.9rem;
                        top: 9rem;
                    }
                }
            }
        }
        &-cover {
            height: 212rem;
            top: -42rem;
            .landing-cover {
                top: 14rem;
            }
            &__result {
                &--heading {
                    padding-bottom: 2.5rem;
                    width: 55%;
                    margin: 0 auto;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &--body {
                    &-list {
                        padding: 0 1rem;
                        &--item {
                            .result-image {
                                width: 95%;
                                margin: 0 auto;
                            }
                            .result-desc {
                                margin-top: 1rem;
                                font-size: 1.6rem;
                                padding: 0;
                            }
                        }
                    }
                }
            }
    
            
            &__advertiver {
                height: 7%;
                top: 21rem;

                &--image1,
                &--image2,
                &--image3,
                &--image4,
                &--image5 {
                    width: 22%;
                    top: 0;
                }
    
                &--image1 {
                    top: -2rem;
                    left: 1.6rem;
                }
    
                &--image2{
                    width: 27%;
                    top: -4rem;
                    left: 8rem;
                }
    
                &--image3{
                    width: 34%;
                    top: -6rem;
                }
    
                &--image4{
                    width: 27%;
                    top: -4rem;
                    right: 8.6rem;
                }
    
                &--image5{
                    top: -2rem;
                    right: 1.6rem;
                }
    
                &--title {
                    font-size: 1.5rem;
                }
            }
    
            &__feedback {
                top: 36rem;
                padding: 0 1rem;

                &--heading {
                    width: 70%;
                }
            }
    
            &__form{
               top: 44rem;
               width: 92%;
               height: 46rem;

               &--inner{
                   padding: 0 3rem;
    
                   &-title{
                       font-size: 2rem;
                       margin-top: 1rem;
                       margin-bottom: 2rem;
                   }
    
                    &-body{
                        margin-bottom: 1.5rem;

                        &--group{
                            .cover-form-control{
                                height: 4.2rem;
                                font-size: 1.6rem;
                            }

                            .form-note{
                                font-size: 1.6rem;
                                padding: 2rem;
                                height: 12rem;
                            }
                        }
                    }
                    .send-appointment__btn{
                        font-size: 2rem;
                        padding: 1.1rem 0;
                        width: 17rem;
                    }
                    .send-appointment__btn::after{
                        top: 0.3rem;
                        width: 98%;
                        height: 90%;
                    }
                }
            }
        }
    }
    .form--appointment{
        &__inner{
            width: 44rem;
            height: 63.8rem;
            border-radius: 3rem;

            &--logo{
                width: 45%;
                margin-left: 53%;
            }
            &--title{
                margin-top: 7rem;
                margin-bottom: 0;
            }
            &--appointment{
                &--form{
                    &-group{
                        .form-textarea{
                            font-size: 1.6rem;
                        }
                    }
                }
                .send-appointment__btn{
                    font-size: 1.6rem;
                    padding: 1.3rem 4.2rem;
                }
            }
        }
    }
}

@include responsive_tablet {
    .jc-space-around {
        justify-content: space-around;
    }
    .pd-20 {
        padding: 0 20rem;
    }
    .pd-10 {
        padding: 0 1rem;
    }
    .content-landing {
        height: 706rem !important;
        .pd-20 {
            padding: 0 2rem;
        }
        .pd-05 {
            padding: 0 0.5rem;
        }
        &-acne {
            height: 79rem;
            &__left {
                width: 44rem;
                top: -8rem;
    
                > img {
                    width: 139%;
                    margin-left: 16%;
                    margin-top: 9%;
                }
    
                &--heading {
                    &-above {
                        top: -9.6rem;
                        width: 82%;
                    }
                }
                &--text {
                    top: 42rem;
                    margin-left: 2rem;
    
                    &-left {
                        width: 26%;
                        height: 12rem;
                    }
                    &-between {
                        width: 35%;
                        margin-left: 0.5rem;
                    }
                    &-right {
                        width: 30%;
                        height: 13rem;
                        top: -2rem;
                        right: 2rem;
                    }
                }
            }
    
            &__right {
                top: 15rem;
                right: -14rem;
                width: 50rem;
    
                &--image1,
                &--image2,
                &--image3,
                &--image4 {
                    width: 30%;
                    height: 59%;
                }
                &--image1 {
                    margin-bottom: 1rem;
                }
    
                &--image2 {
                    right: 19rem;
                    height: 49%;
                }
    
                &--image4 {
                    right: 19rem;
                    height: 47%;
                }
    
            }
    
            &__btn{
                top: 66%;
                font-size: 2rem;
            }
        }
    
        &-outside {
            height: 134rem;
    
            &__human {
                top: -3rem;
                &--top {
    
                    &-image1 {
                        width: 29%;
                        left: 18%;
                    }
    
                    &-image2 {
                        width: 33%;
                        left: 33.8%;
                    }
    
                    &-image3 {
                        width: 29%;
                        right: 17.5%;
                    }
    
                    &-image4 {
                        width: 44%;
                        left: 34.5%;
                        top: 8rem;
                    }
    
                }
    
                &--logo {
                    left: 42%;
                    margin-top: 61%;
                }
    
                &--text {
                    width: 60%;
                    left: 22%;
                }
            }
    
            &__course {
                left: 0;
                right: 0;
                bottom: 24rem;
    
                &--heading {
                    font-size: 3rem;
                    margin-bottom: 5rem;
                }
    
                &--left {
                    margin-right: -10rem;
                    width: 38%;
                    &-above {
                        width: 100%;
                        margin-bottom: 3rem;
                    }
    
                    &-below {
                        width: 100%;
                        height: 100%;
                    }
                }
    
                &--right {
                    margin-right: 0;
                    margin-top: 4rem;

                    &-item {
                        margin: 2rem 0;
                        font-size: 2.2rem;
                        padding: 1.2rem 1.8rem;
                    }
                }
            }
        }
    
        &-device {
            height: 64.2rem;
    
            .pc-device {
                justify-content: space-evenly;
                .content-landing-device-left {
                    &__list {
                        &--item {
                            top: 4rem;
                            left: 2.5rem;
        
                            img {
                                height: 31.6rem;
                            }
                        }
        
                        &--item1 {
                            top: 3rem;
                            left: 16.5rem;
        
                            img {
                                height: 20.8rem
                            }
                        }
        
                        &--item2 {
                            top: 27.1rem;
                            left: 3.5rem;
                            width: 19.9rem;
                            height: 23.8rem;
                        }
        
                        &--item3 {
                            top: 14.2rem;
                            left: 22.8rem;
        
                            img {
                                width: 20.1rem;
                                height: 36.3rem;
                            }
                        }
                    }
                }
        
                .content-landing-device-right {
                    margin-bottom: 15rem;
                    margin-left: 5rem;
                    max-width: 42%;
                    img {
                        width: 100%;
                    }
                }
            }
            .pc-mobile {
                display: none;
            }   
        }
    
        &-procedure { 
            height: 192rem;
            top: -32rem;
            .landing-procedure {
                height: 100%;
                width: 100%;
                top: 42rem;
            }
            &__heading {
                font-size: 4.4rem;
                margin-bottom: 7rem;
            }
            &__outside {
                &--image {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                }
                &--title {
                    margin-top: 1rem;
                    margin-bottom: 2rem;

                    &-image {
                        width: 13% !important;
                        height: 4rem !important;
                    }

                    &-number {
                        top: 28.5rem;
                        left: 1rem;
                        font-size: 3rem;
                    }

                    &-text {
                        font-size: 1.8rem;
                        margin-left: 0.5rem;
                        max-width: 18rem;
                    }
                }
            }
            &__bottom {
                margin-top: 10rem;
                &--heading {
                    &-image {
                        width: 60%;
                    }
                }
                &--image {
                    &-one {
                        width: 25%;
                        top: 15rem;
                        left: 7.2rem;
                    }
                    &-two{
                        left: 50%;
                        transform: translateX(-50%);
                        top: 8rem;
                    }
                    &-three {
                        right: 6.5rem;
                    }
                }
            }
        }
        &-cover {
            height: 235rem;
            top: -56rem;

            .landing-cover {
                left: 0;
                right: 0;
                top: 20rem;
                bottom: 0;
            }
            &__result {
                &--heading {
                    width: 36%;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                &--body {
                    &-list {
                        padding: 0 2.2rem;
                        &--item {
                            .result-desc {
                                margin-top: 2rem;
                                font-size: 1.6rem;
                                padding: 0 1rem;
                            }
                        }
                    }
                }
            }
    
            
            &__advertiver {
                height: 21%;
                top: 20rem;

                &--image1,
                &--image2,
                &--image3,
                &--image4,
                &--image5 {
                    width: 21%;
                    top: 0;
                }
    
                &--image1 {
                    left: 4rem;
                }
    
                &--image2{
                    width: 26%;
                    top: -4rem;
                    left: 14rem;
                }
    
                &--image3{
                    width: 32%;
                    top: -6rem;
                    left: 51%;
                    transform: translateX(-49%);
                }
    
                &--image4{
                    width: 26%;
                    top: -4rem;
                    right: 14rem;
                }
    
                &--image5{
                    top: -1rem;
                    right: 4rem;
                }
    
                &--title {
                    bottom: 15rem;
                    font-size: 1.8rem;
                }
            }
    
            &__feedback {
                top: 18rem;

                &--heading {
                    width: 47%;
                    margin: 0 auto;
                }
    
                &--image {
                    margin-top: 1.5rem;
                }
            }
    
            &__form{
               top: 32rem;
               width: 95%;

               &--inner{
                   &-title{
                       font-size: 2.8rem;
                       margin-top: 2rem;
                       margin-bottom: 3rem;
                   }
    
                    &-body{
                        margin-bottom: 2rem;
                    }
                    .send-appointment__btn{
                        font-size: 2.2rem;
                        padding: 1rem 0;
                        width: 18rem;
                    }
                }
            }
        }
    }

}

@include responsive_pclow {
    // .jc-space-evenly {
    //     justify-content: space-evenly;
    // }
    // .content-landing {
    //     height: 794rem;
    //     .pd-20 {
    //         padding: 0 2rem;
    //     }
    //     .pd-60 {
    //         padding: 0 6rem;
    //     }
    //     .pd-05 {
    //         padding: 0 0.5rem;
    //     }
    //     .wth-22 {
    //         max-width: 22rem;
    //     }
    //     .wth-15 {
    //         max-width: 15rem;
    //     }
    //     &-acne {
    //         height: 92rem;
    //         &__left {
    //             width: 50rem;
    //             top: -4rem;
    //             left: 6rem;
    
    //             > img {
    //                 width: 139%;
    //                 margin-left: 16%;
    //                 margin-top: 9%;
    //             }
    
    //             &--heading {
    //                 &-above {
    //                     top: -11rem;
    //                     width: 82%;
    //                 }
    //             }
    //             &--text {
    //                 top: 42rem;
    //                 margin-left: 2rem;
    
    //                 &-left {
    //                     width: 26%;
    //                     height: 12rem;
    //                 }
    //                 &-between {
    //                     width: 35%;
    //                     margin-left: 0.5rem;
    //                 }
    //                 &-right {
    //                     width: 30%;
    //                     height: 14rem;
    //                     top: -2rem;
    //                     right: 2rem;
    //                 }
    //             }
    //         }
    
    //         &__right {
    //             top: 15rem;
    //             right: -13rem;
    //             width: 63rem;
    
    //             &--image1,
    //             &--image2,
    //             &--image3,
    //             &--image4 {
    //                 width: 30%;
    //                 height: 59%;
    //             }
    //             &--image1 {
    //                 margin-bottom: 1rem;
    //                 margin-left: 3rem;
    //             }
    
    //             &--image2 {
    //                 right: 21rem;
    //                 height: 49%;
    //             }

    //             &--image3 { 
    //                 margin-left: 3rem;
    //             }
    
    //             &--image4 {
    //                 right: 21rem;
    //                 height: 47%;
    //             }
    
    //         }
    
    //         &__btn{
    //             top: 68%;
    //             font-size: 2rem;
    //         }
    //     }
    
    //     &-outside {
    //         height: 156rem;
    
    //         &__human {
    //             top: -3rem;
    //             &--top {
    
    //                 &-image1 {
    //                     width: 22%;
    //                     left: 26%;
    //                 }
    
    //                 &-image2 {
    //                     width: 26%;
    //                     left: 37.8%;
    //                 }
    
    //                 &-image3 {
    //                     width: 22%;
    //                     right: 24.5%;
    //                 }
    
    //                 &-image4 {
    //                     width: 36%;
    //                     left: 37.5%;
    //                     top: 8rem;
    //                 }
    
    //             }
    
    //             &--logo {
    //                 width: 16%;
    //                 left: 44%;
    //                 margin-top: 49.5%;
    //             }
    
    //             &--text {
    //                 width: 54%;
    //                 left: 24%;

    //                 &-image2 {
    //                     top: 5rem;
    //                     left: 4rem;
    //                     width: 83%;
    //                 }
    //             }
    //         }
    
    //         &__course {
    //             left: 0;
    //             right: 0;
    //             bottom: 38rem;
    
    //             &--heading {
    //                 font-size: 3rem;
    //                 margin-bottom: 5rem;
    //             }
    
    //             &--left {
    //                 margin-right: -10rem;
    //                 width: 38%;
    //                 &-above {
    //                     width: 90%;
    //                     margin-bottom: 3rem;
    //                 }
    
    //                 &-below {
    //                     width: 90%;
    //                     height: 100%;
    //                 }
    //             }
    
    //             &--right {
    //                 margin-right: 0;

    //                 &-item {
    //                     margin: 2rem 0;
    //                     font-size: 2.2rem;
    //                     padding: 1.2rem 1.8rem;
    //                 }
    //             }
    //         }
    //     }
    
    //     &-device {
    //         height: 64.2rem;
    
    //         .pc-device {
    //             justify-content: center;
    //             padding: 0 3rem;
    //             .content-landing-device-left {
    //                 &__list {
    //                     &--item {
    //                         top: 4rem;
    //                         left: 2.5rem;
        
    //                         img {
    //                             height: 31.6rem;
    //                         }
    //                     }
        
    //                     &--item1 {
    //                         top: 3rem;
    //                         left: 16.5rem;
        
    //                         img {
    //                             height: 20.8rem
    //                         }
    //                     }
        
    //                     &--item2 {
    //                         top: 27.1rem;
    //                         left: 3.5rem;
    //                         width: 19.9rem;
    //                         height: 23.8rem;
    //                     }
        
    //                     &--item3 {
    //                         top: 14.2rem;
    //                         left: 22.8rem;
        
    //                         img {
    //                             width: 20.1rem;
    //                             height: 36.3rem;
    //                         }
    //                     }
    //                 }
    //             }
        
    //             .content-landing-device-right {
    //                 margin-bottom: 15rem;
    //                 max-width: 42%;
    //                 img {
    //                     width: 100%;
    //                 }
    //             }
    //         }
    //         .pc-mobile {
    //             display: none;
    //         }   
    //     }
    
    //     &-procedure { 
    //         height: 220rem;
    //         top: -32rem;
    //         .landing-procedure {
    //             height: 100%;
    //             width: 100%;
    //             top: 42rem;
    //         }
    //         &__heading {
    //             font-size: 4.4rem;
    //             margin-bottom: 7rem;
    //         }
    //         &__outside {
    //             &--image {
    //                 width: 100%;
    //                 height: 100%;
    //                 margin: 0 auto;
    //             }
    //             &--title {
    //                 margin-top: 1rem;
    //                 margin-bottom: 2rem;

    //                 &-image {
    //                     width: 16%;
    //                 }

    //                 &-number {
    //                     top: 34.8rem;
    //                     left: 1.5rem;
    //                     font-size: 4.5rem;
    //                 }

    //                 &-text {
    //                     font-size: 2.2rem;
    //                     margin-left: 0.5rem;
    //                     max-width: 19rem;
    //                 }
    //             }
    //         }
    //         &__bottom {
    //             margin-top: 10rem;
    //             &--heading {
    //                 &-image1,
    //                 &-image2 {
    //                     width: 60%;
    //                 }
    //                 &-image2 {
    //                     top: 5.8rem;
    //                     left: 24rem;
    //                     width: 50%;
    //                 }
    //             }
    //             &--image {
    //                 &-one {
    //                     width: 25%;
    //                     top: 15rem;
    //                     left: 9.5rem;
    //                 }
    //                 &-two{
    //                     left: 50%;
    //                     transform: translateX(-50%);
    //                     top: 8rem;
    //                 }
    //                 &-three {
    //                     right: 8.5rem;
    //                 }
    //             }
    //         }
    //     }
    //     &-cover {
    //         height: 235rem;
    //         top: -56rem;

    //         .landing-cover {
    //             left: 0;
    //             right: 0;
    //             top: 16rem;
    //             bottom: 0;
    //         }
    //         &__result {
    //             &--heading {
    //                 width: 36%;
    //                 margin: 0 auto;

    //                 img {
    //                     width: 100%;
    //                     height: 100%;
    //                 }
    //             }
    //             &--body {
    //                 &-list {
    //                     padding: 0 2.2rem;
    //                     &--item {
    //                         .result-desc {
    //                             margin-top: 2rem;
    //                             font-size: 1.6rem;
    //                             padding: 0 1rem;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    
            
    //         &__advertiver {
    //             height: 21%;
    //             top: 20rem;

    //             &--image1,
    //             &--image2,
    //             &--image3,
    //             &--image4,
    //             &--image5 {
    //                 width: 21%;
    //                 top: 0;
    //             }
    
    //             &--image1 {
    //                 left: 4rem;
    //             }
    
    //             &--image2{
    //                 width: 26%;
    //                 top: -4rem;
    //                 left: 14rem;
    //             }
    
    //             &--image3{
    //                 width: 32%;
    //                 top: -6rem;
    //                 left: 51%;
    //                 transform: translateX(-49%);
    //             }
    
    //             &--image4{
    //                 width: 26%;
    //                 top: -4rem;
    //                 right: 14rem;
    //             }
    
    //             &--image5{
    //                 top: -1rem;
    //                 right: 4rem;
    //             }
    
    //             &--title {
    //                 bottom: 15rem;
    //                 font-size: 1.8rem;
    //             }
    //         }
    
    //         &__feedback {
    //             top: 18rem;

    //             &--heading {
    //                 width: 47%;
    //                 margin: 0 auto;
    //             }
    
    //             &--image {
    //                 margin-top: 1.5rem;
    //             }
    //         }
    
    //         &__form{
    //            top: 32rem;
    //            width: 95%;

    //            &--inner{
    //                &-title{
    //                    font-size: 2.8rem;
    //                    margin-top: 2rem;
    //                    margin-bottom: 3rem;
    //                }
    
    //                 &-body{
    //                     margin-bottom: 2rem;
    //                 }
    //                 .send-appointment__btn{
    //                     font-size: 2.2rem;
    //                     padding: 1rem 0;
    //                     width: 18rem;
    //                 }
    //             }
    //         }
    //     }
    // }
} 

@include responsive_pcmedium {
    .content-landing {
        height: 974rem;
    }
}