//mobile
@include responsive_mobile {
    .header {
        &-contact {
            &-right {
                &__cart {
                    button {
                        background-color: #ffd00f;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border: none;
                    }
                }
            }
        }
    }
    .main {
        .dp-none {
            display: none;
        }
        .dp-block {
            display: block;
        }
        .pd-2 {
            padding: 0; 
        }
        position: relative;
        &-logo {
            &-store {
                background-image: linear-gradient(90deg, #fef7dc,#fff6d6);
                margin-top: 9rem;
            }
            &__title {
                font-weight: 600;
                padding-bottom: 2.2rem;
                margin-bottom: 0 !important;
            }
            &-store:after {
                content: "";
                position: absolute;
                top: -5rem;
                left: 11rem;
                width: 26rem;
                height: 5rem;
                background-image: linear-gradient(90deg, #fef7dc,#fff6d6);
                border-top-right-radius: 70rem;
                border-top-left-radius: 70rem;
            }
        }
        .product {
            background-image: linear-gradient(90deg, #fef7dc,#fff6d6);
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        
            &-cat {
                &__menu {
                    flex-wrap: wrap;
                    li {
                        padding: 1rem 1rem;
                        font-size: 1.6rem;
                        a {
                            margin-left: 0.5rem;
                        }
                    }

                    li::after { 
                        height: 70%;
                    }
                }
            }
            &-details {
                .product-list {
                    &-item {
                        width: 14rem;
                        height: 28.4rem;
                        margin: 0 -0.5rem 1rem;
                        background-color: $white;
                        &__image {
                            width: 9rem;
                            height: 10.8rem;
                            position: relative;
                            margin: 1.8rem auto 0;
                            img {
                                width: 100%;
                                height: 100%;
                                margin: 0;
                                object-fit: contain;
                            }
                        }
                        &__name {
                            font-size: 1.4rem;
                        }
                        &__money {
                            margin-top: 4.2rem !important;
                        }
                    }
                    &-item:nth-child(1),
                    &-item:nth-child(2),
                    &-item:nth-child(5),
                    &-item:nth-child(6){
                        .product-list-item__money {
                            margin-top: 2.2rem !important;
                        }
                    }
                    &-item:nth-child(9){
                        .product-list-item__money {
                            margin-top: 6.2rem !important;
                        }
                    }
                }
                .product-pagination {
                    margin-top: 4.1rem;
                }
                &-viewcart {
                    margin-top: 4.8rem !important;
                    margin-bottom: 0 !important;
                    margin-left: 0 !important;
                    padding-bottom: 5.7rem;
                }
            }
        }
        .advise-contact {
            height: 70.7rem;
            &__body {
                .contact-body {
                    &__right {
                    margin-top: 1.8rem !important;
                        &-info {
                            margin-top: 4.35rem !important;
                            .form-group {
                                margin-left: 0 !important;
                                transform: translateX(0) !important;
                                .form-control{
                                    position: relative;
                                    margin: 0 auto;
                                    width: 34.8rem !important;
                                } 
                            }
                            .btn-exception {
                                margin-top: 1.5rem;
                                margin-bottom: 2rem;
                            }
                        }
                    }
                    &__left {
                        display:flex;
                        justify-content: space-around;
                        .contact-body__column {
                            width: 21.6rem !important;
                            height: 15.3rem !important;
                            .contact-logo {
                                width: 2.55rem !important;
                                height: 2.55rem !important;
                                .icon__call {
                                    margin: 0.8rem 0 0 0 !important;
                                }
                            }
                            .contact__title {
                                font-size: 1.4rem !important;
                                margin-top: 0.8rem !important;
                            }
                            .contact__name {
                                font-size : 2rem !important;
                                padding: 0 !important ;
                            }
                            .contact__desc {
                                max-width: 15rem !important;
                                font-size: 1.2rem !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Tablet
@include responsive_tablet {
    .mr-one {
        margin: 0;
    }
    .mr-top {
        margin-top: 1.6rem;
    }

    .mr-top8 {
        margin-top: 4rem;
    }

    .wdth-hegh {
        width: 75% !important;
        height: 15rem !important;
    }


    .main {
        .product {
            &-cat {
                &__menu {
                    li {
                        padding: 1.2rem 1.6rem;
                        font-size: 1.6rem;
                    }
                }
            }
            &-details {
                .product-list {
                    &-item {
                        max-width: 17.2rem;
                        height: 33rem;

                        &__image {
                            height: 19rem;
                            width: 15rem;
                            display: flex;
                            justify-content: center;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: contain;
                            }
                        }

                        &__name {
                            font-size: 1.4rem;
                        }

                        &__money {
                            margin-top: 3rem;
                        }
                    }

                    &-item:nth-child(1),
                    &-item:nth-child(2) {
                        .product-list-item__money {
                            margin-top: 1rem;
                        }
                    }

                    &-item:nth-child(5),
                    &-item:nth-child(6) {
                        .product-list-item__money {
                            margin-top: 3rem;
                        }
                    }

                    &-item:nth-child(9) {
                        .product-list-item__money {
                            margin-top: 5rem;
                        }
                    }
                }
            }
        }
    }
}