// pay
@include responsive_mobile{
    .end-product {
        margin-top: 9rem;
    }
    .end-product-title__text{
        font-weight: 600;
        padding: 0 23%;
        margin-top: 4rem;
    }
    .end-product-store{
        padding: 0rem 0rem;
        margin-left: 4%;
        transform: translateX(0%);
        margin-top: 5rem;
        &__comeback{
            width: 20rem;
            font-weight: 600;
            font-size: 1.4rem;
        }
        &__edit{
            width: 20rem;
            h3{
                font-size: 1.4rem;
                font-weight: 600;
            }
        }
    }
}

@include responsive_tablet{
    .end-product-store{
        display: flex;
        justify-content: center;
    }
}