@include responsive_pclow {
    .header-container{
        &-heading{
            &__title{
            width: 43.4rem;

                &--text{
                font-size: 2.2rem;

                    &--name{
                        
                    }
                }
            }
        }
    }
    .header-contact{
        &-left{

        }
        &-right{
            
        }
    }
    .header-main {
        &-nav {
            &__list {
                &--item {
                    &-link {}

                    &-link:hover {}

                    .header-main__subnav {
                        position: absolute;
                        top: 0;
                        left: 12rem;
                        background-color: $white;
                        min-width: 46rem;
                        z-index: 2;
                        padding: 2rem;
                        border-radius: 2rem;
                        border: 1px solid $orange;

                        &--menu {
                            &--item {
                                padding-bottom: 2rem;

                                &--title {
                                    padding-bottom: 0.5rem;
                                    
                                  
                                }

                                &--list {
                                    &--service {
                                        &--link {}
    
                                        &--link:hover {}
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@include responsive_tablet {
    .header {
        &-container { 
            &-heading {
                &__title {
                    width: 33.4rem;

                    &--text {
                        font-size: 1.8rem;
                        width: 53%;
                    }
                }
            }
        }
        &-contact {
            padding: 0 0.7rem;

            &-left {
                width: 26.15%;

                form {
                    width: 100%;
                }

                &__search{
                    height: 3.65rem;
                    padding: 0 1rem;
                    font-size: 1.2rem;
                }

                &__button{
                    &--icon {
                        width: 2.1rem;
                        height: 2.1rem;
                    }
                }
            }

            &-right {
                align-items: center;
                margin-right: 1.4rem;

                &__cart {
                    background-color: #ffd00f;
                    width: 4.5rem;
                    height: 3.5rem;
                    border-radius: 50%;
                    padding: 0.5rem;
                    > button {
                        background-color: transparent;
                        width: 100%;
                        height: 100%;
                        padding: 1rem;
                        img {
                            width: 2rem;
                            height: 2rem;
                        }
                    }

                    &--number {
                        top: -1.2rem;
                        right: -0.6rem;
                        padding: 0.2rem 0.4rem;
                        font-size: 1.2rem;
                    }
                }

                &__tel {
                    height: 3.65rem;
                    width: 18rem;

                    &--number {
                        font-size: 1.2rem;
                        padding: 0;
                        line-height: 3.65rem;
                    }
                }

                .header-cart--notify {
                    width: 25rem;
                    height: 25rem;
                    top: 5.5rem;
                    right: 0;
                    left: -6rem;
                

                    &__info {
                        width: 100%;
                        height: 100%;
                        
                        &--top {
                            width: 100%;

                            &-image { 
                                height: 6rem;
                                width: 4rem;
                                margin-left: 1.2rem;
                                margin-top: 1rem;;
                            }

                            &-detail {
                                padding-right: 0;
                                padding-top: 2.4rem;
                                h3 {
                                    font-size: 1.2rem;
                                }

                                .top-detail-amount {
                                    margin-top: 0.4rem;
                                    font-size: 1.2rem;
                                }
                            }

                            &-icon {
                                right: -0.4rem;
                                z-index: -1;

                                > button {
                                    padding: 0;
                                    svg {
                                        padding: 0.8rem;
                                    }
                                }
                            }
                        }

                        &--main {
                            margin-left: 0;
                            &-heading {
                                font-size: 1.6rem;
                                padding-right: 0;
                            }
                        }

                        &--bottom { 
                            margin-top: 1.6rem;

                            &-view {
                                padding: 0 !important;
                                font-size: 1.4rem;
                                width: 21rem !important;
                            }
                            &-pay {
                                font-size: 1.4rem;
                                width: 21rem !important;
                            }
                        }
                    }
                }
            }
        }

        &-logo{
            &__page {
                width: 23.4rem;
                height: 10.5rem;
            }
        }

        &-main {
            &-nav {
                &__list {
                    &--item {
                        padding: 0 1rem;

                        &-link {
                            font-size: 1.4rem;
                        }

                        &-link.active {
                            padding: 0.5rem 1.2rem;
                        }
                    }

                    &--item.active {
                        padding: 0.5rem 1.2rem;
                    }
                }
            }
        }
    }
}


//Mobile
@include responsive_mobile {

    //header
    .header {
        position: relative;

        .dp-none {
            display: none;
        }

        .dp-block {
            display: block;
        }

        &-container {
            &-heading {
                height: 4rem;

                &__title {
                    height: 4rem;
                    width: 26rem;
                    top: 4rem;

                    &--text {
                        position: relative;
                        font-size: 1.6rem;
                        width: 20rem;
                        margin: 0 auto;
                        transform: none;
                    }
                }
            }
        }

        &-contact {
            align-items: center;
            margin-top: 3.6rem;
            padding-left: 1.2rem;
            padding-right: 1.2rem;

            &-left {
                width: 0;

                .navbar-mobile {
                    display: block;
                    width: 2.4rem;
                    border: none;
                    color: #ffd00f;
                    background-color: transparent;
                    position: relative;
                    z-index: 3;

                    i {
                        font-size: 3.5rem;
                    }
                }

                &__search {
                    display: none;
                }

                &__button {
                    &--icon {
                        height: 3.1rem;
                    }
                }
            }

            &-right {
                justify-content: space-between;
                align-items: center;
                padding-left: 7rem;

                &__cart {
                    width: 4.1rem !important;
                    height: 4rem !important;

                    button {
                        width: 4.1rem !important;
                        height: 4rem !important;
                        position: relative;

                        .moble-image {
                            display: block;
                            width: 2.1rem;
                            height: 2rem;
                            position: absolute;
                            top: 8px;
                            left: 11px;

                            img {
                                width: 100%;
                                height: 100%;
                                color: $colorStoreNumber;
                            }
                        }
                    }

                    &--mobile {
                        content: "";
                        position: absolute;
                        top: -1.2rem;
                        right: -2px;
                        padding: 0.2rem;
                        background-color: #a0700f;
                        border-radius: 50%;
                        color: #fff;
                        display: block;
                        width: 2.2rem;
                        height: 2.2rem;
                        text-align: center;
                        font-size: 1.4rem;
                    }
                }

                &__tel {
                    display: none;
                }

                .search-mobile {
                    width: 4.1rem;
                    height: 4rem;
                    background-color: $backgroundSearch;
                    border: none;
                    border-radius: 1rem;
                    margin-right: 0.8rem;

                    svg {
                        background-color: $backgroundSearch;
                        padding: 0.2rem
                    }
                }
            }
        }

        &-logo {

            margin-top: 1.5rem;
            margin-bottom: 3.6rem;

            &__page {
                width: 20.6rem;
                height: 9.9rem;
            }
        }

        &-main {
            position: absolute;
            top: 7rem;
            left: 1.2rem;
            z-index: 3;
            display: none;
            animation: drop-down 0.2s ease-out;

            &-nav {
                display: block;

                &__list {
                    display: block !important;
                    border: 2px solid $orange;
                    padding: 2rem;
                    border-radius: 1rem;
                    background-color: #e6e6e6;


                    &--item {
                        // padding: 2rem 0;
                        padding: 0;
                        margin-bottom: 3rem;
                        position: relative;

                        &-link {
                            color: $black;
                        }

                        .active {
                            background-color: transparent;
                        }
                    }

                    &--item::before {
                        content: " ";
                        display: block;
                        position: absolute;
                        border-bottom: 1px solid #000000;
                        width: 100%;
                        height: 0.2rem;
                        bottom: -1.5rem;
                    }

                    .active {
                        background-color: transparent;

                        padding: 0;
                        border-radius: 0;
                        width: 100%;
                    }

                    .header-main__subnav {

                        &--menu {
                            display: block;

                            &--item {
                                &--title {
                                    margin-top: 1rem;
                                }

                                &--list {
                                    display: none;

                                    &--service {
                                        &--link {}

                                        &--link:hover {}
                                    }
                                }
                            }

                            &--item:hover .header-main__subnav--menu--item--list {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}