@include responsive_mobile {
    .service {
        width: 95%;
        margin: 0 auto;
        display: block;
        margin-top: 3rem;

        &--detail {
            padding: 7.5rem 2.6rem 4rem 2.6rem;

            &__heading {
                font-size: 3rem;
                margin: 0 auto;
                text-align: center;
            }

            &__btn {
                transform: translateX(-50%);
                margin-left: 50%;
                margin-top: 4.8rem;
                margin-bottom: 10rem;
                padding: 0.5rem 2.2rem;
            }
        }

        &--detailing {
            &__item--text--desc {
                padding-bottom: 0rem;
            }

            &__item--reason {
                margin-bottom: 4rem;
            }

            &__item--text--title {
                margin-bottom: 3rem;
            }

            &__item--reason--list--title {
                font-size: 1.6rem !important;
            }

            .cell {
                width: 88%;
            }

            .food {
                width: 100% !important;
            }

            &__item--heading {
                font-size: 1.8rem !important;
            }

            .horizontal {
                display: block;
            }

            .submit-booking {
                padding: 1rem 1rem;
                font-size: 1.6rem;
                margin-bottom: 5rem;
            }

            &__item--result--list__item {
                margin-bottom: 2rem;
            }

            &__item {
                &--result {
                    width: 75%;
                    margin: 0 auto;
                }
            }

            .form-contact {
                width: 100% !important;
            }
        }
    }

    .service--category-one__mobile {
        display: block;
        height: 90rem;
        z-index: 2;

        .detail-news {
            // background-color: $white;
            border-radius: 2rem;
            margin-bottom: 2rem;
            padding: 1rem 0 1.75rem;
            height: 100%;

            &--title {
                font-size: 1.6rem;
                text-transform: uppercase;
                font-family: Gilroy-XBold;
                text-align: center;
                color: $color-title;
                padding-bottom: 1.8rem;
            }

            &--menu {
                padding: 0 1rem;

                &__list {
                    margin-bottom: 2.35rem;

                    &--line {
                        width: 100%;
                        height: 0.1rem;
                    }

                    &--item {
                        display: flex;
                        position: relative;

                        &--laser {
                            background-image: url(../images/service/img4.png);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            -o-object-fit: cover;
                            object-fit: cover;
                            width: 36%;
                            height: 7rem;
                            text-transform: uppercase;
                        }

                        &--ex2 {
                            background-image: url(../images/service/img5.png);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            -o-object-fit: cover;
                            object-fit: cover;
                            width: 36%;
                            height: 7rem;
                            text-transform: uppercase;
                        }

                        &--ex2-text {
                            font-size: 1.2rem;
                            font-weight: 600;
                            text-transform: uppercase;
                            padding-left: 1rem;
                            padding-top: 1rem;
                        }

                        &--depth {
                            background-image: url(../images/service/img6.png);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            -o-object-fit: cover;
                            object-fit: cover;
                            width: 36%;
                            height: 7rem;
                            text-transform: uppercase;
                        }

                        &--depth-text {
                            font-size: 1.2rem;
                            font-weight: 600;
                            text-transform: uppercase;
                            padding-left: 1rem;
                            padding-top: 1rem;
                        }

                        &--bs4 {
                            background-image: url(../images/service/img7.png);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            -o-object-fit: cover;
                            object-fit: cover;
                            width: 36%;
                            height: 7rem;
                            text-transform: uppercase;
                        }

                        &--bs4-text {
                            font-size: 1.2rem;
                            font-weight: 600;
                            text-transform: uppercase;
                            padding-left: 1rem;
                            padding-top: 1rem;
                        }

                        &--secret {
                            background-image: url(../images/service/img8.png);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            -o-object-fit: cover;
                            object-fit: cover;
                            width: 36%;
                            height: 7rem;
                            text-transform: uppercase;

                        }

                        &--images {
                            background-image: url(../images/trainning/22.png);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            -o-object-fit: cover;
                            object-fit: cover;
                            width: 100%;
                            height: 9rem;
                        }

                        &--desc {
                            position: absolute;
                            top: 0;
                            right: 0;
                            text-transform: uppercase;
                            font-family: Gilroy-Bold;
                            font-size: 1.2rem;
                            font-weight: bold;
                            font-size: 1.2rem;
                            font-weight: bold;
                            max-width: 60%;
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }
    }

    .detail-news {
        padding: 0 2.6rem;
        margin-top: 3rem;

        &--menu {
            padding: 0 2.6rem !important;
        }

        &--title {
            padding-bottom: 2.8rem !important;
        }
    }

    .detail-news--menu__list--item--laser,
    .detail-news--menu__list--item--ex2,
    .detail-news--menu__list--item--depth,
    .detail-news--menu__list--item--bs4,
    .detail-news--menu__list--item--secret {
        width: 36% !important;
        height: 10rem !important;
        border-radius: 1rem;
    }

    .detail-news--menu__list--item--desc {
        width: 28rem;
    }

    .none {
        display: none;
    }

    .details-pagination {
        margin-top: 1rem;

        &-list {
            list-style: none;
            justify-content: center;
            align-items: center;
            margin: 0;

            &__item {
                background-color: #FFD00F;
                border: 0.1rem solid #fff;
                border-radius: 2rem;
                margin-right: 0.6rem;

                &--link {
                    padding: 1.2rem 2rem;
                    font-size: 2.8rem;
                    margin-top: 0.4rem;
                    margin-right: 0.1rem;
                    color: #fff;
                    display: block;
                }

                &--link:hover {
                    text-decoration: none;
                }
            }

            .active-white {
                border: 0.1rem solid #FFD00F;
            }
        }

        &-next {
            img {
                width: 1.8rem;
                height: 2rem;
                margin-left: 1rem;
                margin-top: 0.6rem;
            }
        }

        &-prev {
            img {
                width: 1.8rem;
                height: 2rem;
                margin-top: 0.6rem;
                margin-right: 1.4rem;
            }
        }
    }

    .form--contact {
        .tabs{
            display: flex;
            right: 1.5rem;


            .tab-item-heading{
                margin: 0 0.5rem;
            }
        }
        .tab-pane-content {
            .form--appointment__inner,
            .form--contact__inner {
                width: 45rem;
                height: 55rem;
                border-radius: 3rem;
                margin-top: calc((100vh - 55rem) / 2);

                &--logo {
                    width: 33%;
                }

                &--contact {
                    margin-top: 6.5rem;

                    &--form {
                        &-group {
                            .form-textarea {
                                height: 10rem;

                            }
                        }
                    }

                    .send-contact__btn {
                        padding: 1rem 2rem;
                    }
                    &--text{
                        font-size: 1.6rem;
                        padding: 1rem 5rem;
                    }
                }
                &--title{
                    margin-top: 5rem;
                }
                &--appointment{
                    margin-top: 0;
                    &--form{
                        &-group{
                            .form-textarea{
                                height: 10rem;
                            }
                        }
                    }
                }
            }

           
            .address{
                padding: 2rem 0;
                width: 45rem;
                .location-details{
                    height: 50rem;
                }
                &-nav{
                    .container-width{
                        .address-nav-location{
                            &__item{
                                padding: 0.5rem 1rem;
                            }

                        }
                    }
                }
            }

        }
    }
}
@include responsive_tablet{
    .form--contact{
        .tabs{
            right: 1.5rem;
            .tab-item-heading{
                span{
                    display: none;
                }
            }
        }
        .tab-pane-content{
            .form--appointment__inner,
            .form--contact__inner{
                margin-top: calc((100vh - 55rem) / 2);
                width: 55rem;
                height: 55rem;
                border-radius: 5rem;
                &--logo{
                    width: 20rem;
                }
                &--title{
                    margin-top: 2rem;
                }
                &--appointment{
                    margin-top: 1rem;
                    .send-appointment__btn{
                        padding: 1rem 3rem;
                    }
                }
                &--contact{
                    padding: 3rem;
                    &--form{
                        &-group{
                            .form-textarea{
                                height: 12rem;
                            }
                        }
                    }
                    .send-contact__btn{
                        padding: 1rem 3rem;
                    }
                    
                    &--text{
                        font-size: 1.6rem;
                        padding: 1rem 9rem;
                    }
                }
            }

            .address{
                width: 55rem;


                .location-details{
                    height: 42rem;
                }
            }
        }
    }
}

@include responsive_pclow {
    .nonepc {
        display: none;
    }

    .form--contact {
        .tabs{

        right: 20rem;

        .tab-item-heading{
            min-width: 15rem;
        }

        }
        .tab-pane-content {
            .form--contact__inner {
                width: 60.38rem;
                // height: 60.38rem;
                border-radius: 5rem;
                margin-top: calc((100vh - 63.8rem) / 2);

                &--logo {
                    width: 40%;
                }

                &--contact {
                    margin-top: 5.5rem;

                    &--form {
                        &-group {
                            .form-textarea {
                                height: 13.4rem;

                            }
                        }
                    }

                    .send-contact__btn {}

                    &--text {
                        padding: 2rem 12rem;
                        font-size: 1.8rem;

                    }
                }
            }

            .address{
                width: 80rem;
                .location-details{
                    .container-width{
                        .location-details-border{
                        padding: 1rem;

                        }
                    }
                }
            }

        }
    }
}