@include responsive_mobile{
    .dp-none {
        display: none !important;
    }
    .dp-block {
        display: block !important;
    }
    .beautify-container {
        padding-top: 0;
    }

    .beautify-mobile {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        .beautify {
            &--program{
                &__category{
                    &--list{
                        align-items: center;
                        justify-content: center;
                        &-item{
                            margin-top: 2rem;
                            margin-bottom: 4rem;
                            margin-right: 0.5rem;

                            &-link{   
                                font-size: 1.4rem;
                                padding: 0.7rem 1rem 0.5rem 0.5rem;
                            }
                        }

                        &-item:nth-child(2),
                        &-item:nth-child(3) {
                            a {
                                font-family: Gilroy-Regular;
                            }
                        }
                    }
                }
            }
            &-program {
                &-list {
                    &__item {
                        &--image {
                            width: 100%;
                            height: 24.5rem;
                            &--product {
                                object-fit: cover;
                            }
                        }

                        .image-pseudo--tips::after{
                            display: none;
                        }
        
                        &--text {
                            &--title {
                                font-family: K2D-ExtraBold;
                            }
        
                            &--desc {
                                position: relative;
                                font-family: K2D-ExtraLight;
                            }

                            &--desc::after{
                                content: " ";
                                position: absolute;
                                top: 11rem;
                                right: 2.5rem;
                                height: 2rem;
                                width: 90%;
                                border-bottom: 0.1rem solid #b5b5b5;
                            }

                            &--desc:last-child::after{
                                border: none;
                            }
                        }
        
                        &--calendar {
                            top: 1.6rem;
                            right: 2.8rem;
                        }
                    }
                }
                .product-pagination {
                    &-list {
                        &__item {
                            border-radius: 2rem;
                        }
                    }
                    &-prev {
                        &__btn {
                            width: 1.8rem;
                            height: 1.7rem;
                            margin-right: 1.6rem;
                            border: none;
                            background-color: transparent;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    
                    &-next {
                        img {
                            width: 1.8rem;
                            height:1.7rem;
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@include responsive_tablet {
    .wide {
        width: 700px;
    }
    .mb-20 {
        margin-bottom: 15rem;
    }
    .beautify-container {
        padding-top: 4.24rem;
    }
    .beautify {
        &-program {
            &-list {
                &__item {
                    margin: 0 0 6rem 0;
                    width: 14.5rem;
    
                    &--image {
                        width: 100%;
                        height: 15.5rem;
    
                        &--product {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .image-pseudo--tips::after{
                        height: 9.5rem;
                        right: -1.8rem;
                        top: 50%;
                        transform: translateY(-50%);
                    }
    
                    &--text {
                        &--title {
                            font-size: 1.2rem;
                            padding: 2rem 0 0 0;
                            max-height: 6rem;
                        }
    
                        &--desc {
                            font-size: 1.2rem;
                            margin-top: 2rem;
                        }
                    }
    
                    &--calendar {
                        top: -3.1rem;
                        right: 0.2rem;
                        width: 5rem;
                        height: 5rem;
    
                        &--date {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
            .product-pagination {
                &-list{
                    list-style: none;
                    justify-content:center;
                    align-items: center;
                    margin: 0;
                    &__item {
                        border-radius: 1.2rem;
                        margin-right: 0.6rem;
                        &--link {
                            padding: 1.8rem 2.3rem;
                            font-size: 3.5rem;
                        }
                    }
                }
                &-next {
                    img {
                        width: 1.8rem;
                        height:1.7rem;
                        margin-left: 1rem;
                    }
                }
            }
        }
        &--program{
            padding-right: 0;
            &__category{
                &--list{
                    &-item{
                        margin: 1.25rem 0;
                        &-link{
                            font-size: 1.4rem;
                            padding: 0.7rem 0 0.5rem 0;
                        }
                    }
                }
            }
        }
    
    }
}