@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

.wapper{
    position: relative;
}
.service-content {
    background-color: $background-content;

}
.service-container {
    padding-top: 2.4rem;
}
.service{
    padding-bottom: 14.6rem;
    &--detail{
        background-color: $white;
        padding: 7.5rem 5rem 4rem 5rem;
        border-radius: 2rem;
        &__heading{
            text-transform: uppercase;
            color: $color-title;
            font-family:  K2D-ExtraBold;
            font-size: 4rem;
            line-height: 1.1;
            max-width: 90%;
            margin-bottom: 3rem;
        }
        &__btn{
            @include buttonStyle;
            text-transform: uppercase;
            color: $black;
            font-size: 1.8rem;
            position: relative;
            margin: 2.5rem 0;
        }
        &__btn::after{
            @include buttonAfter;
        }
        .service--detailing{
            .form-contact{
                border-radius: 2rem;
                border: 1px solid $more-color;
                padding: 2.05rem;
            }
            &__item{
                padding-bottom: 4rem;

                &--text{
                    padding-left: 0.35rem;
                    // padding-bottom: 2.8rem;
                    padding-bottom: 2.1rem;

                    &--title{
                        color: $color-title;
                        font-size: 2rem;
                        font-family: K2D-Bold;
                        padding-bottom: 2.2rem;
                    }
                    &--desc{
                        font-size: 1.6rem;
                        font-family: K2D-ExtraLight;
                        padding-bottom: 2.4rem;
                    }
                }
                &--reason{
                    border: 1px solid $black;
                    border-radius: 2rem;
                    padding: 2rem;
                    background-color: $background-form;
                    margin-bottom: 2.6rem;
                    &--title{
                        font-family: K2D-Bold;
                        font-size: 1.8rem;
                        margin-bottom: 1rem;

                    }
                    &--list{
                        &--title{
                            font-size: 1.8rem;
                            font-family: K2D-Bold;
                            line-height: 1.4;
                        }
                        &--desc{
                            font-size: 1.6rem;
                            font-family: K2D-ExtraLight;
                            line-height: 1.4;
                            .icon-down{
                                color: $color-icon;
                                line-height: 2.24rem;
                               padding-right: 0.5rem;
                            }
                        }
                    }
                }
                &--subsection{
                    margin-top: 3.65rem;
                    margin-bottom: 1.65rem;
                    font-size: 1.6rem;
                    &--title{
                        font-family: K2D-ExtraLight;
                        margin-bottom: 2.55rem;
                    }
                    &--desc{
                        line-height: 1.4;
                        font-family: K2D-ExtraLight;
                    }
                }
                &--images{
                    width: 70%;
                    margin-left: 50%;
                    transform: translateX(-50%);
                    
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
             
                &--logo{
                    width: 13.85rem;
                    height: 6.2rem;
                    margin-left: 50%;
                    transform: translateX(-50%);
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &--heading{
                    font-size: 3rem;
                    font-family: K2D-Bold;
                    color: $more-color;
                    line-height: 1.2;
                    text-align: center;
                    transform: translateX(-50%);
                    margin: 2.35rem 0 3.1rem 50%;
                }
                &--contact{
                    &--form{
                        .form-group{
                            .form-control{
                                height: 4.35rem;
                                width: 100%;
                                font-size: 1.6rem;
                                font-family: UTM-Avo;
                                border-radius: 1rem;
                                outline: none;
                                border: 1px solid $more-color;
                            }
                        }
                    }
                    .button-submit{
                        margin-left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &--header{
                    font-size: 2.6rem;
                    text-align: center;
                    color: $more-color;
                    font-family:  K2D-Bold;
                    text-transform: uppercase;
                    margin: 5.6rem 0;
                }
                &--result{
                    &--list{
                        &__item{
                            &--images{
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            &--desc{
                                font-size: 1.4rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .detail-news {
        background-color: $white;
        border-radius: 2rem;
       margin-bottom: 2rem;
        padding: 2.75rem 0;
        &--title {
            font-size: 1.6rem;
            text-transform: uppercase;
            font-family: Gilroy-XBold;
            text-align: center;
            color: $color-title;
            padding-bottom: 1.8rem;
        }

        &--menu {
            padding: 0 1rem;
            &__list {
                margin-bottom: 2.35rem;
                &--line{
                    width: 100%;
                    height: 0.1rem;
                }
                &--item {
                    display: flex;
                    position: relative;
                    &--laser{
                        background-image: url(../images/service/img4.png);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        -o-object-fit: cover;
                        object-fit: cover;
                        width: 36%;
                        height: 7rem;
                        text-transform: uppercase;
                    }
                    &--ex2{
                        background-image: url(../images/service/img5.png);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        -o-object-fit: cover;
                        object-fit: cover;
                        width: 36%;
                        height: 7rem;
                        text-transform: uppercase;
                    }
                    &--ex2-text{
                        font-size: 1.2rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        padding-left: 1rem;
                        padding-top: 1rem;
                    }
                    &--depth{
                        background-image: url(../images/service/img6.png);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        -o-object-fit: cover;
                        object-fit: cover;
                        width: 36%;
                        height: 7rem;
                        text-transform: uppercase;
                    }
                    &--depth-text{
                        font-size: 1.2rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        padding-left: 1rem;
                        padding-top: 1rem;
                    }
                    &--bs4{
                        background-image: url(../images/service/img7.png);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        -o-object-fit: cover;
                        object-fit: cover;
                        width: 36%;
                        height: 7rem;
                        text-transform: uppercase;
                    }
                    &--bs4-text{
                        font-size: 1.2rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        padding-left: 1rem;
                        padding-top: 1rem;
                    }
                    &--secret{
                        background-image: url(../images/service/img8.png);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        -o-object-fit: cover;
                        object-fit: cover;
                        width: 36%;
                        height: 7rem;
                        text-transform: uppercase;
                        
                    }
                    &--images{
                        background-image: url(../images/trainning/22.png);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        -o-object-fit: cover;
                        object-fit: cover;
                        width: 100%;
                        height: 9rem;
                    }

                    &--desc {
                        position: absolute;
                        top: 0;
                        right: 0;
                        text-transform: uppercase;
                        font-family: Gilroy-Bold;
                        font-size: 1.2rem;
                        font-weight: bold;
                        font-size: 1.2rem;
                        font-weight: bold;
                        max-width: 60%;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}


// --------------------------------------------------------------------
.hide{
    display: none;
}


.tab-item-heading:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}
.tab-item-heading.active{
    opacity: 1;
}
.tab-pane-content {
    display: none;
}
.tab-pane-content.active {
    display: contents;
    background-color: transparent;
 
}

.form--register,
.form--contact {
    position: fixed;
    top: 0;
    left: 0;
   
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    .tabs{
        position: absolute;
        top: 5.5rem;
        right: 20rem;
        .tab-item-heading{
            font-size: 1.8rem;
            padding: 1rem 2rem;
            border-radius: 1rem;
            min-width: 15rem;
            margin: 0.2rem 0;
            cursor: pointer;
            background-color: #fff;
            .tab-icon{
                font-size: 2rem;
            }
        }
        .active{
            background-color: $orange;
        }
    }
  
    &__inner{
        background-image: url(../images/modal.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        width: 60.38rem;
        height: 63.8rem;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: calc((100vh - 63.8rem) / 2);
        overflow: hidden;
        animation: showModal linear 0.3s;
        position: relative;
        &--logo{
            padding-top: 1.3rem;
            width: 40%;
            margin-left: 50%;
            transform: translateX(-50%);
            &--image{
                width: 100%;
                height: 100%;
            }
        }
        &--contact{
            margin-top: 5.5rem;
            padding: 0 3rem;
            &--form{
                &-group{
                    .form-control{
                        width: 100%;
                        height: 4.2rem;
                        font-size: 1.8rem;
                        font-family: UTM-Avo;
                        border: 1px solid $more-color;
                        border-radius: 1rem;
                        outline: none;
                        padding: 0 1.5rem;
                    }
                    .form-textarea{
                        width: 100%;
                        font-size: 1.8rem;
                        border: 1px solid $more-color;
                        border-radius: 1rem;
                        outline: none;
                        padding: 2rem;
                        height: 13.4rem;
                    }
                }
            }
            .send-contact__btn{
                @include buttonStyle();
                text-transform: uppercase;
                font-weight: 600;
                color: $white;
                margin-left: 50%;
                transform: translateX(-50%);
                background-color: $more-color;
                position: relative;
            }
            .send-contact__btn::after{
                @include buttonAfter();
            }
            &--text{
                font-size: 1.8rem;
                font-weight: bold;
                text-align: center;
              padding: 2rem 12rem;
                .phone-number{
                    color: $more-color;
                }
            }
        }
    }
  }

// --------------------------------------------------------------------

.form--again {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    &__inner{
        background-image: url(../images/modal.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        width: 60.38rem;
        height: 63.8rem;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: calc((100vh - 63.8rem) / 2);
        overflow: hidden;
        animation: showModal linear 0.3s;
        position: relative;
        &--logo{
            padding-top: 1.3rem;
            width: 40%;
            margin-left: 50%;
            transform: translateX(-50%);
            &--image{
                width: 100%;
                height: 100%;
            }
        }
        &--title{
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
        &--info{
            width: 60%;
            text-align: center;
            border: 1px solid #fff;
            background-color: #fff;
            border-radius: 1rem;
            margin: 0 auto;
            &-image{
                padding: 1rem 0;
                width: 4rem;
                margin: 0 auto;
                img{
                    width: 100%;
                }
            }
            &-text{
                text-align: center;
                font-size: 1.6rem;
                color: $color-title;
                letter-spacing: 0.01rem;
                p{
                    padding: 0 9rem;
                }
            }
            &-line{
                text-align: center;
                padding: 0 3.6rem;
                img{
                    width: 100%;
                }
            }
            &-client{
                &-text{
                    font-size: 2rem;
                    padding: 0.5rem 0;
                    color: $color-title;
                }
                &-name{
                    font-size: 2.2rem;
                    color: $color-title;
                    font-weight: 600;
                }
            }
            &-time{
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                &-day{
                    .form-controls{
                        width: 86%;
                        height: 4.2rem;
                        font-size: 1.6rem;
                        border: 1px solid $more-color;
                        border-radius: 1rem;
                        outline: none;
                        padding: 0 1.5rem;
                        color: $color-title;
                    }
                }
            }
            &-thank{
                margin-bottom: 1rem;
                p{
                    padding: 0rem 8rem;
                    font-size: 1.2rem;
                    color: $color-title;
                    font-style: italic
                }
            }
        }
        .send-contact__btn{
            @include buttonStyle();
            text-transform: uppercase;
            font-weight: 600;
            color: $white;
            margin-left: 50%;
            transform: translateX(-50%);
            background-color: $more-color;
            position: relative;
            margin-top: 3rem;
        }
        .send-contact__btn::after{
            @include buttonAfter();
        }
    }
  }