@import 'variables';
.header-container {
    &-heading {
        position: relative;
        height: 5.1rem;
        background-image: linear-gradient(90deg, #F4E390, #FED119);
        // &__title {
        //     position: absolute;
        //     width: 43.4rem;
        //     height: 5.8rem;
        //     background-image: linear-gradient(90deg, #f7dd66, #fbd844);
        //     top: 4.8rem;
        //     margin-left: 50%;
        //     transform: translateX(-50%);
        //     border-bottom-right-radius: 70rem;
        //     border-bottom-left-radius: 70rem;
        //     &--text {
        //         text-transform: uppercase;
        //         font-size: 2.2rem;
        //         font-weight: 500;
        //         margin-left: 50%;
        //         transform: translateX(-50%);
        //         &-name {
        //             line-height: 1.1;
        //             text-align: center;
        //             display: block;
        //         }
        //     }
        // }
    }
}
.header-contact{
    .moble-image {
        display: none;
    }
    justify-content: space-between;
    margin-top: 2.6rem;
    padding: 0 3.7rem;
    &-left{
        padding-right: 0;
        // width: 32.15%;
        form {
            position: relative;
            width: 37rem;
            float: right;
        }
        &__search{
            width: 100%;
            height: 6.65rem;
            outline: none;
            border: 2px solid #FED119;
            border-radius: 5rem;
            font-size: 2.4rem;
            padding: 0 4rem;
            background-color: $white;

        }
        &__button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10%;
            border: none;
            color: #FED119;
            padding: 0;
            &--icon{
                width: 3.1rem;
                height: 4.1rem;
                background-color: $white;
            }
        }
    }
    &-right{
        padding-left: 0;
        // width: 32.15%;
        &__cart{
            border-radius: 50%;
            background-color: $orange;
            position: relative;
            button {
                width: 6.65rem;
                height: 6.65rem;
                img{
                    width: 100%;
                    height: 100%;
                    padding:2rem;
                }
            }
            &--number {
                content: "";
                position:absolute;
                top: -1rem;
                right: -4px;
                padding: 1rem;
                background-color: $colorStoreNumber;
                border-radius: 50%;
                color:$white;
            }
        }
        &__tel{
            height: 6.65rem;
            background-color: #FED119;
            border-radius: 5rem;
            width: 37rem;
            outline: none;
            border:none;
            &--number{
                text-transform: uppercase;
                font-size: 2.4rem;
                padding: 0 4rem;
                line-height: 6.65rem;
                font-weight: 600;
            }
        }
    }
}

.header-main{
    margin-top: 4.55rem;
    &-nav{
        &__list{
            justify-content: center;
            align-items: center;
            list-style: none;
            margin-bottom: 6.5rem;
            &--item{
                padding: 0 3.6rem;
                &-link{
                    color: $color-text;
                    font-size: 2rem;
                    font-weight: 500;
                }
                &-link:hover{
                    text-decoration: none;
                    color: $color-text;
                }
                
            }
           
        }
    }
}
.main {
    .main-logo{
        &__image{
            width: 8.6rem;
            height: 6.8rem;
            margin-left: 50%;
            transform: translateX(-50%);
            &--img{
                width: 100%;
                height: 100%;
            }
        }
        &__title{
            text-transform: uppercase;
            margin-top: 2.2rem;
            margin-bottom: 5.5rem;
            font-size: 2rem;
            text-align: center;
        }
    }
    .product {
        &-cat{
            &__menu {
                list-style: none;
                padding: 0;
                margin-bottom: 4rem;
                justify-content: center;
                li {
                    position: relative;
                    padding: 1.2rem 2rem;
                    border-radius: 1rem;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    a {
                        color: #808080;
                    }
                }
                li:after {
                    content:"";
                    position:absolute;
                    top: 0.6rem;
                    right: -0.6rem;
                    border-right: 0.1rem solid $color-text;
                    height:80%;

                }
                li:last-child:after {
                    border-right:none !important;
                }
            }
        }

        &-details{
            .product-list {
                justify-content: space-between;
                &-item {
                    border:0.1rem solid $orange;
                    border-radius: 0.8rem;
                    margin-bottom: 3.4rem;
                    max-width: 29rem;
                    height: 39.4rem;
                    &__image {
                        img {
                            height: 25rem;
                        }
                    }
                    &__name {
                        max-height: 6rem;
                        margin-top: 2.4rem;
                        font-size: 1.5rem;
                    }
                    &__money {
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 2.2rem;
                        &--price {
                            color: $orange;
                            font-size: 1.8rem;
                        }
                        .choose-product {
                            border-radius: 50%;
                            margin-bottom: 0.6rem;
                            svg {
                                width: 2rem;
                                height: 2rem;
                                color: $brown;
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
                &-item:nth-child(1),
                &-item:nth-child(2),
                &-item:nth-child(6) {
                    .product-list-item__money {
                        margin-top: 0;
                    }
                }
             }
            .product-pagination {
                margin-top: 1rem;
                &-list{
                    list-style: none;
                    justify-content:center;
                    align-items: center;
                    margin: 0;
                    &__item {
                        background-color: #FFD00F;
                        border: 0.1rem solid #FFD00F;
                        border-radius: 1.2rem;
                        margin-right: 0.6rem;
                        &--link {
                            padding: 1.8rem 2.3rem;
                            font-size: 2.8rem;
                            margin-top: 0.4rem;
                            margin-right: 0.1rem;
                            color: #fff;
                            display: block;
                        }
                        &--link:hover {
                            text-decoration: none;
                        }
                    }
                }
                &-next {
                    img {
                        width: 1.8rem;
                        height:1.7rem;
                        margin-left: 1rem;
                    }
                }
            }
            .product-details-viewcart {
                text-align: center;
                margin-top: 4.4rem;
                margin-bottom: 4rem;
                margin-left: 3.2rem;
                .product-details-btn {
                    @include buttonStyle();
                    position: relative;
                    border-radius: 2rem;
                    padding:1rem 3.2rem;
                    font-size:1.8rem;
                    text-transform: uppercase;
                    color: $black;
                }
                .product-details-btn:after{
                    @include buttonAfter();
                }
            }
        }
    
    }
    .main-image {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .advise-contact {
        display: none;
    }
}

