.beautify-container {
    padding-top: 11.24rem;
    padding-bottom: 9.13rem;
}

.beautify {
    &-program {
        &-list {
            flex-wrap: wrap;
            justify-content: space-evenly;

            &__item {
                position: relative;
                width: 20.5rem;
                margin-bottom: 5rem;

                &--image {
                    width: 90%;
                    height: 24rem;
                    position: relative;

                    &--product {
                        width: 100%;
                        height: 100%;
                    }
                }
                .image-pseudo--tips::after{
                    content: " ";
                    display: block;
                    position: absolute;
                    border-right: 2px solid #000000;
                    height: 16.5rem;
                    right: -3rem;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &--text {
                    width: 90%;
                    &--title {
                        text-transform: uppercase;
                        font-family: Gilroy-Heavy;
                        font-size: 1.5rem;
                        padding: 3.5rem 0 1.5rem 0;
                        max-height: 7rem;
                        color: $black;
                    }

                    &--desc {
                        font-size: 1.6rem;
                        text-align: justify;
                        margin-top: 1rem;
                    }
                }

                &--calendar {
                    position: absolute;
                    top: -3.8rem;
                    right: 3.8rem;
                    width: 6.2rem;
                    height: 6.2rem;
                    border-radius: 50%;
                    background-color: $orange;

                    &--date {
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        font-size: 2.4rem;
                        font-family: Gilroy-XBold;
                        display: flex;
                        align-items: center;
                        color: $black;
                    }
                }
            }
        }
        .product-pagination {
            margin-top: 1rem;
            &-list{
                list-style: none;
                justify-content:center;
                align-items: center;
                margin: 0;
                &__item {
                    background-color: #FFD00F;
                    border: 0.1rem solid #FFD00F;
                    border-radius: 1.2rem;
                    margin-right: 0.6rem;
                    &--link {
                        padding: 1.8rem 2.3rem;
                        font-size: 3.5rem;
                        font-family: Gilroy-Heavy;
                        color: #fff;
                        display: block;
                    }
                    &--link:hover {
                        text-decoration: none;
                    }
                }
            }
            &-next {
                img {
                    width: 1.8rem;
                    height:1.7rem;
                    margin-left: 1rem;
                }
            }
        }
    }
    &--program{
        &__category{
            &--list{
                &-item{
                    margin: 1.25rem 0;
                    &-link{
                        color: $color-text;
                        text-transform: uppercase;
                        font-size: 2rem;
                        font-family: Gilroy-XBold;
                        border-radius: 1rem;
                        padding: 0.7rem 2rem 0.5rem 1rem;
                    }
                }
                &-item:nth-child(2),
                &-item:nth-child(3) {
                    a {
                        font-family: Gilroy-Regular;
                    }
                }
            }
        }
    }

}