.training-detail{
    margin-top: 6rem;
    background-color: $background-home;
    position: relative;
    padding-top: 6rem;
}

.home{
    // position: absolute;
    background-color: $white;
    border: 1px solid $white;
    padding: 4rem 0;
    h1{
        color: $more-color;
        font-family: K2D-ExtraBold;
        line-height: 1.2;
        margin: 0;
    }
    .details-header{
        margin-top: 2rem;
        p{
            border: 1px solid $border;
            border-radius: 1rem;
            font-size: 1.6rem;
            font-family: K2D-ExtraLight;
            padding: 1rem;
            text-align: justify;
        }

    }
    .details-content{
        margin-top: 2rem;
        &-list{
            background-color: #f2f2f2;
            padding: 2.5rem 1rem 5.2rem;
            margin-bottom: 1.6rem;
            &__item{
                &--text{
                    font-size: 1.6rem;            
                    font-family:  K2D-Bold;
                    margin-top: 1.6rem;
                }
                &--sub{
                    font-size: 1.6rem;
                    font-family: K2D-ExtraLight;
                }
            }
        }
    }
    .details-reason{
        &-title{
            font-size: 2rem;
            font-family:  K2D-Bold;
            color: $more-color;
        }
        &-sub{
            font-size: 1.6rem;
            font-family: K2D-ExtraLight;
            margin-top: 2rem;
            text-align: justify;
        }
        &-img{
            margin: 1rem 0;
            img{
                width: 100%;
            }
        }
    }
    .details-expert{
        &-title{
            font-family:  K2D-Bold;
            color: $more-color;
        }
        &-sub{
            font-family: K2D-ExtraLight;
            font-size: 1.6rem;
            margin-top: 2rem;
            text-align: justify;
        }
        &-img__one{
            margin: 1rem 0;

            img{
                position: relative;
                width: 100%;
            }
        }
        &-img__two{
            position: absolute;
            margin-top: -15.3rem;
            margin-left: 41.2rem;
            width: 2.4rem;
            z-index: 100;
        }
        &-img__three{
            position: absolute;
            height: 6rem;
            margin-top: -17rem;
            margin-left: 39rem;
        }
    }
    .details-courses{
        position: relative;
        &-title{
            font-family:  K2D-Bold;
            color: $more-color;
            margin-top: 2.6rem;
        }
        &-sub{
            font-family: K2D-ExtraLight;
            font-size: 1.6rem;
            margin-top: 2rem;
        }
    }
    .details-courses::after{
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        bottom: -5rem;
        height: 0.2rem;
        background-color: $colorStoreNumber;
    }
    .details-graduate{
        margin-top: 5rem;
        &-title{
            padding-top: 5rem;
            font-family:  K2D-Bold;
            text-align:center;
            color: $more-color;
        }
        &-outstanding{
            margin-top: 4rem;
            text-align: center;
            position: relative;
            &__list{
                
                display: flex;
                justify-content: center;
                
              &--item{
                &--images{
                    width: 14rem;
                    height: 14rem;
                    margin-left: 50%;
                    transform: translateX(-50%);
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                &--text{
                    font-family:  K2D-Bold;
                    color: $more-color;
                    max-width: 16rem;
                    text-align: center;
                    padding: 2rem 0 1rem 0;
                }
              }
            }
            &__move{
                position: absolute;
                top: 7rem;
                &--icon{
                    width: 100%;
                }
            }
            .swiper-button-next,
            .swiper-button-prev{
                height: 0.5rem;
            }
            .swiper-button-prev{
                left: 0;
            }
        }
    }
    .details-rated{
        margin-top: 4rem;
        &-title{
            text-align:center;
            color: $more-color;
            font-family:  K2D-Bold;
            font-size: 3rem;
        }
        &-student{
            &__list{
                &--box{
                    display: flex;
                    border: 1px solid #d6d6d6;
                    border-radius: 1rem;
                    padding: 1rem 1rem;
                    margin: 2rem 0;
                    img{
                        width: 5rem;
                        height: 5rem;
                        margin-top: 1rem;
                        margin-right: 1rem;
                    }
                    &--item{
                        h3{
                            font-size: 1.8rem;
                            color: $more-color;
                            font-family:  K2D-Bold;
                        }
                        &-faint{
                            font-family: K2D-ExtraLight;
                            font-size: 1.3rem;
                            color: $color-textP;
                        }
                        &-dark{
                            color: $black;
                            font-size: 1.2rem;
                            font-family: K2D-ExtraLight;
                        }
                    }
                }
            }
        }
    }
}
.details-menu{
   
    padding-bottom: 1rem;
    &-list{
        &__item{
            margin-bottom: 1rem;
            &--text{
                cursor: pointer;
                font-size: 1.8rem;
                font-family: Gilroy-Regular;
                color: #808080;
                border: 1px solid white;
                background-color: white;
                border-radius: 0.5rem;
                padding: 0.5rem 0.5rem;
                text-align: center;
            }
            .hover-gold{
                background-color: $orange;
                color: $black;
                font-family: Gilroy-Bold;
                font-size: 1.8rem;
            }
        }
    }
}
.details-news{
    border: 1px solid white;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem 0.5rem;
    text-align: center;
    &-title{
        color:$more-color;
        font-family: Gilroy-XBold;
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    &-menu{
        &__list{
            display: flex;
            margin: 1rem 0;
            img{
                position: relative;
                width: 24.4rem;
                height: 8rem;
            }
            p{
                font-family: Gilroy-Bold;
                font-size: 1.1rem;
                position: absolute;
                width: 15rem;
                margin-left: 9.5rem;
                margin-top: 0.5rem;
            }
        }
        .border-white::after{
            content: "";
            width: 86%;
            height: 0.5rem;
            background-color:$white;
            position: absolute;
            margin-top: 7.6rem;
        }
    }
}
