$orange: #ffd00f;
$black: #000;
$white: #fff;
$color-text: #808080;
$color-texthead:#4c4c4c;
$darkBrown: #a0722a;
$openColor:#6f6333;
$openSubColor:#706536;
$colorStoreNumber:#a0700f;
$bacgrAll:#fff6d2;
$more-color: #a1710f;