* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "SVN-Gliroy", sans-serif;
  line-height: 1em;
  color: #000;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.btn {
  font-size: 1.6rem;
  font-weight: 600;
  max-width: 48.4rem;
  max-height: 8.4rem;
  background-color: #FFD00F;
}

.active {
  display: inline-block !important;
  color: #000;
}

.active:hover {
  cursor: pointer;
}

.container-width {
  max-width: 1200px;
  margin: 0 auto;
}

.pd-top12 {
  padding-top: 13.5rem;
}

.border-1 {
  border: 1px solid #FFD00F;
}

.show {
  display: block !important;
}

.header-container-heading {
  position: relative;
  height: 5.1rem;
  background-image: linear-gradient(90deg, #F4E390, #FED119);
}
.header-container-heading__title {
  position: absolute;
  width: 43.4rem;
  height: 5.8rem;
  background-image: linear-gradient(90deg, #f7dd66, #fbd844);
  top: 4.8rem;
  margin-left: 50%;
  transform: translateX(-50%);
  border-bottom-right-radius: 70rem;
  border-bottom-left-radius: 70rem;
}
.header-container-heading__title--text {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 500;
  margin-left: 50%;
  transform: translateX(-50%);
}
.header-container-heading__title--text-name {
  line-height: 1.1;
  text-align: center;
  display: block;
}

.header-contact {
  justify-content: space-between;
  margin-top: 2.6rem;
  padding: 0 3.7rem;
}
.header-contact-left {
  padding-right: 0;
  width: 32.15%;
}
.header-contact-left form {
  position: relative;
  width: 37rem;
  float: right;
}
.header-contact-left__search {
  width: 100%;
  height: 6.65rem;
  outline: none;
  border: 2px solid #FED119;
  border-radius: 5rem;
  font-size: 2.4rem;
  padding: 0 4rem;
  background-color: #fff;
}
.header-contact-left__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
  border: none;
  color: #FED119;
  padding: 0;
}
.header-contact-left__button--icon {
  width: 3.1rem;
  height: 4.1rem;
  background-color: #fff;
}
.header-contact-right {
  padding-left: 0;
  width: 32.15%;
}
.header-contact-right__cart {
  position: relative;
  border-radius: 50%;
  background-color: #ffd00f;
  position: relative;
}
.header-contact-right__cart--image {
  width: 6.65rem;
  height: 6.65rem;
  padding: 2rem;
}
.header-contact-right__tel {
  height: 6.65rem;
  background-color: #FED119;
  border-radius: 5rem;
  width: 37rem;
  outline: none;
  border: none;
}
.header-contact-right__tel--number {
  text-transform: uppercase;
  font-size: 2.4rem;
  padding: 0 4rem;
  line-height: 6.65rem;
  font-weight: 600;
}

.header-logo {
  margin-top: 1.6rem;
  margin-bottom: 4.3rem;
}
.header-logo img {
  width: 28.4rem;
  height: 13.5rem;
}

.header-main-nav__list {
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header-main-nav__list--item-link {
  color: #808080;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.4rem 2.2rem 0.8rem;
  border-radius: 2.6rem;
}
.header-main-nav__list--item-link:hover {
  text-decoration: none;
  color: #808080;
}
.header-main-nav__list--item.active {
  background-color: transparent;
}

.footer-width {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.footer-top {
  background-image: linear-gradient(70deg, #F3E49A, #FED115);
  padding-bottom: 8.5rem;
}
.footer-top .footer-after::after {
  content: "";
  position: absolute;
  top: -5.8rem;
  left: -4.2rem;
  width: 43.8rem;
  height: 5.8rem;
  background-image: linear-gradient(70deg, #F3E49A, #F7DE6C);
  border-top-left-radius: 150px 100px;
  border-top-right-radius: 150px 100px;
}
.footer-top-interactive {
  position: relative;
}
.footer-top-interactive .interactive-logo {
  justify-content: center;
  position: absolute;
  top: -17.5rem;
  z-index: 1;
}
.footer-top-interactive .interactive-logo img {
  width: 80%;
}
.footer-top-interactive .interactive-caption {
  position: absolute;
  top: -1.4rem;
  font-size: 1.6rem;
  text-align: center;
  padding: 0 4.8rem;
}
.footer-top-interactive .interactive-image {
  position: relative;
  justify-content: center;
  padding-top: 6.5rem;
}
.footer-top-interactive .interactive-image > img {
  width: 95%;
}
.footer-top-interactive .interactive-image .footer-top-interactive__share--top {
  position: absolute;
  top: 7.5rem;
  left: 2.5rem;
}
.footer-top-interactive .interactive-image .footer-top-interactive__share--top-image {
  width: 4.4rem;
  height: 4.2rem;
}
.footer-top-interactive .interactive-image .footer-top-interactive__share--top h5 {
  color: #fff;
  margin-left: 2rem;
  text-transform: uppercase;
}
.footer-top-interactive .interactive-image .footer-top-interactive__share--bottom {
  position: absolute;
  left: 2.5rem;
  right: 2.5rem;
  bottom: 1rem;
  justify-content: space-between;
}
.footer-top-interactive .interactive-image .footer-top-interactive__share--bottom-left {
  float: left;
  background-color: #e6e6e6;
  color: #000;
  justify-content: center;
  padding: 0.6rem 0 0.6rem 1rem;
}
.footer-top-interactive .interactive-image .footer-top-interactive__share--bottom-left a h5 {
  margin: 0.4rem 0 0 0.8rem;
  color: #000;
}
.footer-top-interactive .interactive-image .footer-top-interactive__share--bottom-left a img {
  width: 2rem;
  height: 2rem;
}
.footer-top-interactive .interactive-image .footer-top-interactive__share--bottom-right {
  float: right;
  background-color: #e6e6e6;
  justify-content: center;
  color: #000;
  padding: 0.6rem 0.8rem 0.6rem 1rem;
}
.footer-top-interactive .interactive-image .footer-top-interactive__share--bottom-right a img {
  width: 2.5rem;
  height: 2rem;
}
.footer-top-interactive .interactive-image .footer-top-interactive__share--bottom-right a h5 {
  margin: 0.4rem 0 0 0.8rem;
  color: #000;
}
.footer-top-contact {
  padding-top: 6rem;
}
.footer-top-contact__tel a {
  display: inline-block;
  background-color: #a0722a;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.6rem 1rem 0.6rem 0.5rem;
  margin: 0 0 1rem 0;
}
.footer-top-contact__info-list {
  padding: 0;
  list-style: none;
}
.footer-top-contact__info-list--item a {
  color: #000;
}
.footer-top-contact__app {
  align-items: center;
  margin-top: 1rem;
}
.footer-top-contact__app--googleplay, .footer-top-contact__app--appstore {
  width: 40%;
}
.footer-top-contact__app--googleplay img, .footer-top-contact__app--appstore img {
  width: 100%;
}
.footer-top-contact__app--appstore {
  padding-top: 0.1rem;
}
.footer-top-menu {
  padding-top: 6rem;
}
.footer-top-menu__list {
  padding-left: 0;
  list-style: none;
}
.footer-top-menu__list--link {
  display: block;
  color: #000;
  margin-bottom: 1.2rem;
}
.footer-top-menu__list--link:hover {
  color: #000;
  text-decoration: none;
}
.footer-bottom {
  background-color: #ffd00f;
}
.footer-bottom .footer-title {
  padding-right: 60%;
  text-transform: uppercase;
  padding-top: 3.8rem;
  padding-bottom: 2.5rem;
  margin: 0;
}
.footer-bottom .footer-contact {
  padding-bottom: 6rem;
}
.footer-bottom .footer-contact-list {
  list-style: none;
  padding: 0;
}
.footer-bottom .footer-contact-list__item--link {
  display: block;
  color: #000;
  margin-bottom: 1.6rem;
}
.footer-bottom .footer-contact-list__item--link:hover {
  text-decoration: none;
}

.main-policy {
  background-color: #fff6d2;
  padding-top: 12.6rem;
  padding-bottom: 28.2rem;
  margin-top: 5.6rem;
}
.main-policy .m-b46 {
  margin-bottom: 4.6rem;
}
.main-policy .m-b42 {
  margin-bottom: 4.2rem;
}
.main-policy .m-b32 {
  margin-bottom: 3.2rem;
}
.main-policy .m-b30 {
  margin-bottom: 3rem;
}
.main-policy .m-b25 {
  margin-bottom: 2.5rem;
}
.main-policy .m-b22 {
  margin-bottom: 2.2rem;
}
.main-policy .m-b20 {
  margin-bottom: 2rem;
}
.main-policy-content {
  width: 1000px;
  margin: 0 auto;
  padding: 4.9rem 9.4rem 8.8rem 6.3rem;
  background-color: #fff;
}
.main-policy-content__heading {
  font-size: 2.2rem;
  font-weight: 600;
  color: #a1710f;
  margin-bottom: 5.3rem;
  text-transform: uppercase;
}
.main-policy-content__info {
  line-height: 1.3em;
}
.main-policy-content__title {
  font-size: 2rem;
  color: #a1710f;
  font-weight: 600;
}
.main-policy-content__text {
  line-height: 1.3em;
  margin: 0;
}

.main-booking {
  background-color: #fff6d2;
  padding-top: 12.6rem;
  padding-bottom: 28.2rem;
  margin-top: 5.6rem;
}
.main-booking .m-b46 {
  margin-bottom: 4.6rem;
}
.main-booking .m-b42 {
  margin-bottom: 4.2rem;
}
.main-booking .m-b32 {
  margin-bottom: 3.2rem;
}
.main-booking .m-b30 {
  margin-bottom: 3rem;
}
.main-booking .m-b25 {
  margin-bottom: 2.5rem;
}
.main-booking .m-b22 {
  margin-bottom: 2.2rem;
}
.main-booking .m-b20 {
  margin-bottom: 2rem;
}
.main-booking-content {
  width: 1000px;
  margin: 0 auto;
  padding: 4.9rem 9.4rem 8.8rem 6.3rem;
  background-color: #fff;
}
.main-booking-content__heading {
  font-size: 2.2rem;
  font-weight: 600;
  color: #a1710f;
  margin-bottom: 5.3rem;
  text-transform: uppercase;
}
.main-booking-content__info {
  line-height: 1.3em;
}
.main-booking-content__title {
  font-size: 2rem;
  color: #a1710f;
  font-weight: 600;
}
.main-booking-content__text {
  line-height: 1.3em;
  margin: 0;
}

.main-recruit {
  background-color: #fff6d2;
  padding-top: 12.6rem;
  margin-top: 5.6rem;
}
.main-recruit .m-b27 {
  margin-bottom: 2.7rem;
}
.main-recruit .m-b25 {
  margin-bottom: 2.5rem;
}
.main-recruit-content {
  width: 1000px;
  margin: 0 auto;
  padding: 4.9rem 9.4rem 8.8rem 6.3rem;
  background-color: #fff;
}
.main-recruit-content__heading {
  font-size: 2.2rem;
  font-weight: 600;
  color: #a1710f;
  margin-bottom: 1.8rem;
  margin-right: 33rem;
  text-transform: uppercase;
}
.main-recruit-content__text {
  line-height: 1.3em;
  margin: 0;
}
.main-recruit-content__image {
  width: 48.7rem;
  height: 48.8rem;
  position: relative;
  margin: 2.7rem auto 2.7rem;
}
.main-recruit-content__image img {
  width: 100%;
  height: 100%;
}
.main-recruit-content__list {
  display: none;
}
.main-recruit-content__skin {
  padding-left: 1.3rem;
  border-radius: 1.2rem;
}
.main-recruit-content__skin--title {
  font-size: 2rem;
  color: #a1710f;
  font-weight: 600;
  margin-top: 1.7rem;
  margin-bottom: 1.2rem;
}
.main-recruit-content__skin span {
  display: block;
  margin-bottom: 3rem;
  color: #808080;
}
.main-recruit-content__skin--list {
  line-height: 1.3em;
}
.main-recruit-content__skin--btn {
  border: none;
  outline: none;
  display: block;
  position: relative;
  margin: 1.2rem auto 1.4rem;
  color: #a1710f;
  background-image: linear-gradient(#f3e59c, #ffd113);
  border-radius: 1.6rem;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
}
.main-recruit-content__skin--btn:hover {
  color: #a1710f;
}
.main-recruit-content__skin + .main-recruit-content__skin {
  margin-top: 3.8rem;
}
.main-recruit-content .recruit-pagination {
  margin-top: 6rem;
}
.main-recruit-content .recruit-pagination-list {
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.main-recruit-content .recruit-pagination-list__item {
  background-color: #ffd00f;
  border: 0.1rem solid #ffd00f;
  border-radius: 1.2rem;
  margin-right: 0.6rem;
  padding: 1.8rem 2.3rem;
  font-size: 2.8rem;
  margin-top: 0.4rem;
  color: #fff;
}
.main-recruit-content .recruit-pagination-list__item.active {
  background-color: #fff;
  color: #a1710f;
}
.main-recruit-content .recruit-pagination-next {
  border: none;
  padding: 0;
  outline: none;
  margin-left: 1rem;
}
.main-recruit-content .recruit-pagination-next img {
  width: 1.8rem;
  height: 1.7rem;
}/*# sourceMappingURL=style.css.map */